In [31]:
# installing packages

%pip install matplotlib 
%pip install seaborn

Requirement already satisfied: matplotlib in c:\python3\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\python3\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\python3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\python3\lib\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\python3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\python3\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\python3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\python3\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\python3\lib\site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\python3\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\python3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\python3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\python3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\python3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
# imoporting packages

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [33]:
df = pd.read_csv('startup_funding2018.csv') # read the data_2018 and convert it to pandas data frame

In [34]:
df2 = pd.read_csv('startup_funding2019.csv') # read the data_2019 and convert it to pandas data frame

In [35]:
df.head()  # View the first few rows of the DataFrame1

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [36]:
df2.head() # View the first few rows of the DataFrame2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [37]:
df.info()  # Get information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [38]:
df2.info() # Get inforamation about the data2 dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [39]:
df.describe(include='object')  # Generate descriptive statistics of the DataFrame

,Company Name,Industry,Round/Series,Amount,Location,About Company
count,526,526,526,526,526,526
unique,525,405,21,198,50,524
top,TheCollegeFever,—,Seed,—,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
freq,2,30,280,148,102,2

In [40]:
df2.describe(include='object') # General descriptive statistics of the data2 dataFrame

,Company/Brand,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
count,89,70,84,89,86,89,89,43
unique,87,17,52,88,85,86,50,15
top,Kratikal,Bangalore,Edtech,Online meat shop,"Vivek Gupta, Abhay Hanjura",Undisclosed,Undisclosed,Series A
freq,2,21,7,2,2,3,12,10

now we have some description about the data set, we can now move on with data cleaning
 
MISSING VALUES

In [41]:
missing_values = df.isnull().sum() # looking for missing values 

print(missing_values)

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [42]:
missing_values2 = df2.isnull().sum() # looking for missing values in dataFrame 2
missing_values2

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

LET'S DEAL WITH THE MISSING VALUES FROMM THE ABOVE OUTPUT

In [43]:
# Replace specific values with NaN
df2['Founded'].replace('Unknown', np.nan, inplace=True)
df2['HeadQuarter'].replace('Not available', np.nan, inplace=True)

# Replace empty strings with NaN
df2['Sector'].replace('', np.nan, inplace=True)
df2['Founders'].replace('', np.nan, inplace=True)
df2['Stage'].replace('', np.nan, inplace=True)

Standardizing Data Formats

now let's see how we can standardize tha data set to make sure we have the same format of data points

first let's check for dash symbols within the columns using a simple python function

In [44]:
columns_to_check = ['Amount', 'Company Name', 'Location', 'About Company', 'Industry', 'Round/Series']

for column in columns_to_check:
    has_dash_symbols = df[column].str.contains('—').any()
    print(f"{column}: {has_dash_symbols}")

Amount: True
Company Name: False
Location: False
About Company: False
Industry: True
Round/Series: False

In [45]:
# checking for '-' symbol within the columns

columns_to_check2 = ['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage']

for column2 in columns_to_check2:
    has_dash_symbols2 = df2[column2].astype(str).str.contains('-').any()
    print(f'{column2}: {has_dash_symbols2}')

Company/Brand: False
Founded: False
HeadQuarter: False
Sector: True
What it does: True
Founders: True
Investor: True
Amount($): False
Stage: True

In [46]:
# checking for currency symbol 

columns_to_check2 = ['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)']

for column2 in columns_to_check2:
    has_currency_symbols = df2[column2].astype(str).str.contains('[$₹]').any()
    print(f'{column2}: {has_currency_symbols}')

Company/Brand: False
Founded: False
HeadQuarter: False
Sector: False
What it does: False
Founders: False
Investor: False
Amount($): True

In [47]:
# replacing the '-' symbols using a simple function 

dash_currency_columns = ['Sector', 'What it does', 'Founders', 'Investor', 'Stage']

for dash_columns2 in dash_currency_columns:
    dash_replaced2 = df2[dash_columns2].replace('-', np.nan, inplace=True)

now let's handle the dash symbols in the Amount column, clean and format the amount the column correctly

In [48]:
df['Amount'] = df['Amount'].replace('-', np.nan, inplace=True)

Remove currency symbols and commas, and convert to numeric format

In [49]:
df2['Amount($)'] = df2['Amount($)'].astype(str).str.replace('[\₹$,]', '', regex=True)  # removing the currency symbol from the Amount in dataFrame2

In [50]:
df['Amount'] = df['Amount'].str.replace('[\₹$,]', '', regex=True,) # Remove currency symbols

In [51]:
df['Amount'] = df['Amount'].replace('—', np.nan, inplace=True) # Replace dash symbol with NaN

In [52]:
df['Amount'] = df['Amount'].astype(float,) # Convert remaining values to float

In [53]:
print(df['Amount']) # Verify the updated 'Amount' column

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
521   NaN
522   NaN
523   NaN
524   NaN
525   NaN
Name: Amount, Length: 526, dtype: float64

In [54]:
print(df2['Amount($)']) # Verify the updated 'Amount($)' column

0       6300000
1     150000000
2      28000000
3      30000000
4       6000000
        ...
84     20000000
85    693000000
86      5000000
87     50000000
88     33000000
Name: Amount($), Length: 89, dtype: object

NOW LET'S 

handle the categorical data in the 'Industry', 'Round/Series', and 'Location' columns

Analyzing unique values
Start by examining the unique values in each column to identify any inconsistencies or variations we do this 
Using the unique() function to get the unique values in each column.

BELOW IS FOF DATA SET ONE

In [55]:
#print(df['Industry'].unique())
#print(df['Round/Series'].unique())
print(df['Location'].unique())

['Bangalore, Karnataka, India' 'Mumbai, Maharashtra, India'
 'Gurgaon, Haryana, India' 'Noida, Uttar Pradesh, India'
 'Hyderabad, Andhra Pradesh, India' 'Bengaluru, Karnataka, India'
 'Kalkaji, Delhi, India' 'Delhi, Delhi, India' 'India, Asia'
 'Hubli, Karnataka, India' 'New Delhi, Delhi, India'
 'Chennai, Tamil Nadu, India' 'Mohali, Punjab, India'
 'Kolkata, West Bengal, India' 'Pune, Maharashtra, India'
 'Jodhpur, Rajasthan, India' 'Kanpur, Uttar Pradesh, India'
 'Ahmedabad, Gujarat, India' 'Azadpur, Delhi, India'
 'Haryana, Haryana, India' 'Cochin, Kerala, India'
 'Faridabad, Haryana, India' 'Jaipur, Rajasthan, India'
 'Kota, Rajasthan, India' 'Anand, Gujarat, India'
 'Bangalore City, Karnataka, India' 'Belgaum, Karnataka, India'
 'Thane, Maharashtra, India' 'Margão, Goa, India'
 'Indore, Madhya Pradesh, India' 'Alwar, Rajasthan, India'
 'Kannur, Kerala, India' 'Trivandrum, Kerala, India'
 'Ernakulam, Kerala, India' 'Kormangala, Karnataka, India'
 'Uttar Pradesh, India, Asia' 'Andheri, Maharashtra, India'
 'Mylapore, Tamil Nadu, India' 'Ghaziabad, Uttar Pradesh, India'
 'Kochi, Kerala, India' 'Powai, Assam, India'
 'Guntur, Andhra Pradesh, India' 'Kalpakkam, Tamil Nadu, India'
 'Bhopal, Madhya Pradesh, India' 'Coimbatore, Tamil Nadu, India'
 'Worli, Maharashtra, India' 'Alleppey, Kerala, India'
 'Chandigarh, Chandigarh, India' 'Guindy, Tamil Nadu, India'
 'Lucknow, Uttar Pradesh, India']

TO understand categoriacl data and how to deal with them 

Categorical data refers to a type of data that represents qualitative or nominal variables. These variables have distinct categories or groups and do not have a natural numerical order. Categorical data is often represented by labels or names and can be further divided into several subtypes:

1. Nominal data: It consists of categories without any specific order or ranking. Examples include gender (male, female, other), color (red, blue, green), or country (USA, Canada, India). Nominal data represents distinct groups, but the categories are not inherently ranked or ordered.

2. Ordinal: Ordinal data also represents categories, but they have a meaningful order or ranking. The numerical values assigned to ordinal variables indicate the relative position or preference but not the magnitude of the differences between them. Examples include education level (high school, bachelor's degree, master's degree), customer satisfaction rating (poor, fair, good, excellent), or economic status (low income, middle income, high income).
   
BASE ON THE FIRST data set, the following columns can be considered as a categorical columns 

1. Company Name: Nominal categorical data. Each company name represents a distinct category without any specific order or ranking.

2. Industry: Nominal categorical data. The industry categories represent different sectors without any inherent order or hierarchy.

3. Round/Series: Ordinal categorical data. The funding rounds or series can be ranked based on their order or progression (e.g., Seed, Series A, Series B), indicating a meaningful order.

4. Location: Nominal categorical data. The locations represent different geographical regions without any particular order or ranking.

NOW LET'S CLEAN THE CATEGORICAL COLUMNS

1. NOMINAL TYPES

In [56]:
nominal_columns = ['Industry', 'Location', 'Company Name'] # creating a filter to hold the nominal columns

nominal_filter = df[nominal_columns]

In [61]:
nominal_filter

,Industry,Location,Company Name
0,"Brand Marketing, Event Promotion, Marketing, S...","Bangalore, Karnataka, India",TheCollegeFever
1,"Agriculture, Farming","Mumbai, Maharashtra, India",Happy Cow Dairy
2,"Credit, Financial Services, Lending, Marketplace","Gurgaon, Haryana, India",MyLoanCare
3,"Financial Services, FinTech","Noida, Uttar Pradesh, India",PayMe India
4,"E-Commerce Platforms, Retail, SaaS","Hyderabad, Andhra Pradesh, India",Eunimart
...,...,...,...
521,"B2B, Business Development, Internet, Marketplace","Bangalore, Karnataka, India",Udaan
522,"Tourism, Travel","Haryana, Haryana, India",Happyeasygo Group
523,"Food and Beverage, Food Delivery, Internet","Mumbai, Maharashtra, India",Mombay
524,Information Technology,"Mumbai, Maharashtra, India",Droni Tech
525,"Biotechnology, Health Care, Pharmaceutical","Chennai, Tamil Nadu, India",Netmeds

NOW LET'S DEAL WITH DUPLICATED ROWS

BELOW IS FOR DATA1

In [57]:
columns_to_check = ['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location', 'About Company']

for column in columns_to_check:
    has_duplicates = df[column].duplicated().any()
    print(f'{column}: {has_duplicates}')

Company Name: True
Industry: True
Round/Series: True
Amount: True
Location: True
About Company: True

In [58]:
df.drop_duplicates(subset=['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location', 'About Company'], inplace=True)

BELOW IS FOR DATA2

In [59]:
columns_to_check2 = ['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage',]

for column2 in columns_to_check2:
    has_duplicates2 = df2[column2].duplicated().any()
    print(f'{column2}: {has_duplicates2}')

Company/Brand: True
Founded: True
HeadQuarter: True
Sector: True
What it does: True
Founders: True
Investor: True
Amount($): True
Stage: True

In [60]:
df2.drop_duplicates(subset=['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage',], inplace=True)