## STOCKHOLM TEAM

## Exploratory Data Analysis of the Indian StartUp Funding Ecosystem

### Business Understanding

**Project Description:**

Explore the Indian startup funding ecosystem through an in-depth analysis of funding data from 2019 to 2021. Gain insights into key trends, funding patterns, and factors driving startup success. Investigate the relationship between funding and startup growth, with a focus on temporal patterns and city-level dynamics. Identify preferred sectors for investment and uncover industry-specific funding trends. This exploratory data analysis provides a comprehensive overview of the Indian startup ecosystem, offering valuable insights for entrepreneurs, investors, and policymakers.

## Data Understanding

This project aims to explore and gain a deeper understanding of the Indian startup funding ecosystem. The dataset used for analysis contains information about startup funding from 2019 to 2021. The dataset includes various attributes such as the company's name, sector, funding amount, funding round, investor details, and location.

To conduct a comprehensive analysis, we will examine the dataset to understand its structure, contents, and any potential data quality issues. By understanding the data, we can ensure the accuracy and reliability of our analysis.

The key attributes in the dataset include:

- **Company**: The name of the startup receiving funding.
- **Sector**: The industry or sector to which the startup belongs.
- **Amount**: The amount of funding received by the startup.
- **Stage**: The round of funding (e.g., seed, series A, series B).
- **Location**: The city or region where the startup is based.
- **About**: What the company does.
- **Funding Year**:When the company was funded

By examining these attributes, we can uncover insights about the funding landscape, identify trends in funding amounts and rounds, explore the preferred sectors for investment, and analyze the role of cities in the startup ecosystem.

Throughout the analysis, we will use visualizations and statistical techniques to present the findings effectively. By understanding the data and its characteristics, we can proceed with confidence in our analysis, derive meaningful insights, and make informed decisions based on the findings.

### Hypothesis:

#### NULL Hypothesis (HO) :

#### **The sector of a company does not have an impact on the amount of funding it receives.**


#### ALTERNATE Hypothesis (HA):

#### **The sector of a company does have an impact on the amount of funding it receives.**

##  Research / Analysis Questions:

1. What are the most common industries represented in the datasets?

2. How does the funding amount vary across different rounds/series in the datasets?
   
3. Which locations have the highest number of companies in the datasets?
   
4. What kind of investment type should startups look for depending on their industry type? (EDA: Analysis of funding preferences by industry)

5. Are there any correlations between the funding amount and the company's sector or location?
   
6. What are the top investors in the datasets based on the number of investments made?
   
7. Which industries are favored by investors based on the number of funding rounds? (EDA: Top 10 industries which are favored by investors)

8. Are there any outliers in the funding amounts in the datasets?
   
9.  Is there a relationship between the company's sector and the presence of certain investors?
    
10. What is the range of funds generally received by startups in India (Max, min, avg, and count of funding)? (EDA: Descriptive statistics of funding amounts)

## Data Preparation

Before diving into the analysis, we will preprocess and clean the data to ensure its quality and suitability for analysis. This may involve handling missing values, correcting data types, and addressing any inconsistencies or outliers that could affect the accuracy of our results.

Once the data is prepared, we will be ready to perform an in-depth exploratory analysis of the Indian startup funding ecosystem. The analysis will involve answering specific research questions, identifying patterns and trends, and generating meaningful visualizations to present the findings.

Through this process of data understanding and preparation, we will set a solid foundation for conducting a robust and insightful analysis of the Indian startup funding data.

**The data for each year is sourced from separate two csv files and two from a remote server. They will be merged later to one dataset**

### Load the Packages/Modules

In [2]:
%pip install forex-python
%pip install pandas
%pip install python-dotenv
%pip install seaborn
%pip install matplotlib
%pip install pyodbc
%pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: forex-python in /home/florence/.local/lib/python3.6/site-packages (1.8)
Requirement already satisfied: simplejson in /usr/lib/python3/dist-packages (from forex-python) (3.13.2)
Requirement already satisfied: requests in /home/florence/.local/lib/python3.6/site-packages (from forex-python) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/florence/.local/lib/python3.6/site-packages (from requests->forex-python) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests->forex-python) (2018.1.18)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/lib/python3/dist-packages (from requests->forex-python) (1.22)
Requirement already satisfied: idna<4,>=2.5 in /home/florence/.local/lib/python3.6/site-packages (from requests->forex-python) (3.4)

Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/florence/.local/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/florence/.local/lib/python3.6/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /home/florence/.local/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /home/florence/.local/lib/python3.6/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /home/florence/.local/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-dotenv in /home/florence/.local/lib/python3.6/site-packages (0.20.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/florence/.local/lib/python3.6/site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /home/florence/.local/lib/python3.6/site-packages (from seaborn) (1.5.4)
Requirement already satisfied: matplotlib>=2.2 in /home/florence/.local/lib/python3.6/site-packages (from seaborn) (3.3.4)
Requirement already satisfied: pandas>=0.23 in /home/florence/.local/lib/python3.6/site-packages (from seaborn) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /home/florence/.local/lib/python3.6/site-packages (from seaborn) (1.19.5)
Requirement already satisfied: pillow>=6.2.0 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /home/florence/.local/lib/python3.6/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in /home/florence/.local/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /home/florence/.local/lib/python3.6/site-packages (3.3.4)
Requirement already satisfied: numpy>=1.15 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib) (1.19.5)
Requirement already satisfied: pillow>=6.2.0 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/florence/.local/lib/python3.6/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/florence/.local/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in /home/florence/.local/lib/python3.6/site-packages (4.0.39)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/florence/.local/lib/python3.6/site-packages (1.19.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Importing the Modules needed
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import warnings 
warnings.filterwarnings('ignore')

from forex_python.converter import CurrencyRates
import re

### Import Datasets

In [4]:
df = pd.read_csv('startup_funding2018.csv') # read the data_2018 and convert it to pandas data frame

In [5]:
df2 = pd.read_csv('startup_funding2019.csv') # read the data_2019 and convert it to pandas data frame

#### Accessing the Remote Server Datasets

In [6]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


# connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER={dap-projects-database.database.windows.net};DATABASE={dapDB};UID={dataAnalyst_LP1};PWD={G7x@9kR$2x}"

In [7]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [8]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 
query1 = "SELECT * FROM dbo.LP1_startup_funding2020"
query2 = "SELECT * FROM dbo.LP1_startup_funding2021"
df3 = pd.read_sql(query1, connection)
df4 = pd.read_sql(query2, connection)

In [9]:
#Set display options to show all values without truncation
#pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#### 2018 Data

In [10]:
df.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [11]:
df.shape

(526, 6)

In [12]:
df.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [13]:
df.info()  # Get information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [14]:
df.describe(include='object')  # Generate descriptive statistics of the DataFrame

,Company Name,Industry,Round/Series,Amount,Location,About Company
count,526,526,526,526,526,526
unique,525,405,21,198,50,524
top,TheCollegeFever,—,Seed,—,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
freq,2,30,280,148,102,2

now we have some description about the data set, we can now move on with data cleaning
 
MISSING VALUES

#### Handling Duplicated Data

In [15]:
missing_values = df.isnull().sum() # looking for missing values 
print(missing_values)

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [16]:
columns_to_check = ['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location', 'About Company']

for column in columns_to_check:
    has_duplicates = df[column].duplicated().any()
    print(f'{column}: {has_duplicates}')

Company Name: True
Industry: True
Round/Series: True
Amount: True
Location: True
About Company: True

In [17]:
df.drop_duplicates(subset=['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location', 'About Company'], inplace=True)

Standardizing Data Formats

now let's see how we can standardize tha data set to make sure we have the same format of data points

first let's check for dash symbols within the columns using a simple python function

In [18]:
columns_to_check = ['Amount', 'Company Name', 'Location', 'About Company', 'Industry', 'Round/Series']

for column in columns_to_check:
    has_dash_symbols = df[column].str.contains('—').any()
    print(f"{column}: {has_dash_symbols}")

Amount: True
Company Name: False
Location: False
About Company: False
Industry: True
Round/Series: False

now let's handle the dash symbols in **the Amount column**, clean and format the amount the column correctly & Convert Currency to USD

In [19]:
df['Amount'].head()

0         250000
1    ₹40,000,000
2    ₹65,000,000
3        2000000
4              —
Name: Amount, dtype: object

In [20]:
# Cleaning the Amounts column
df['Amount'] = df['Amount'].apply(str)
df['Amount'].replace(",", "", inplace = True, regex=True)
df['Amount'].replace("—", 0, inplace = True, regex=True)
df['Amount'].replace("$", "", inplace = True, regex=True)

In [21]:
# Create an instance of CurrencyRates
c = CurrencyRates()

In [22]:
# Creating temporary columns to help with the conversion of INR to USD
df['Indiancurr'] = df['Amount'].str.rsplit('₹', n=2).str[1]
df['Indiancurr'] = df['Indiancurr'].apply(float).fillna(0)
df['UsCurr'] = df['Indiancurr'] * c.get_rate('INR', 'USD')
df['UsCurr'] = df['UsCurr'].replace(0, np.nan)
df['UsCurr'] = df['UsCurr'].fillna(df['Amount'])
df['UsCurr'] = df['UsCurr'].replace("$", "", regex=True)
df['Amount'] = df['UsCurr']
df['Amount'] = df['Amount'].apply(lambda x: float(str(x).replace("$","")))
df['Amount'] = df['Amount'].replace(0, np.nan)

# Define a lambda function to format the amount
format_amount = lambda amount: "{:,.2f}".format(amount)

# Apply the formatting lambda function to the 'Amount' column
df['Amount'] = df['Amount'].map(format_amount)

In [23]:
df['Amount'].head()

0      250,000.00
1      485,093.94
2      788,277.65
3    2,000,000.00
4             nan
Name: Amount, dtype: object

In [24]:
df['Amount'] = df['Amount'].str.replace(',', '').astype(float)
type(df['Amount'][0])

numpy.float64

#### Handling Categorical Data
NOW LET'S 

handle the categorical data in the 'Industry', 'Round/Series', and 'Location' columns

Analyzing unique values
Start by examining the unique values in each column to identify any inconsistencies or variations we do this 
Using the unique() function to get the unique values in each column.

### Location Column

In [25]:
df['Location'].unique() # checking each unique values

array(['Bangalore, Karnataka, India', 'Mumbai, Maharashtra, India',
       'Gurgaon, Haryana, India', 'Noida, Uttar Pradesh, India',
       'Hyderabad, Andhra Pradesh, India', 'Bengaluru, Karnataka, India',
       'Kalkaji, Delhi, India', 'Delhi, Delhi, India', 'India, Asia',
       'Hubli, Karnataka, India', 'New Delhi, Delhi, India',
       'Chennai, Tamil Nadu, India', 'Mohali, Punjab, India',
       'Kolkata, West Bengal, India', 'Pune, Maharashtra, India',
       'Jodhpur, Rajasthan, India', 'Kanpur, Uttar Pradesh, India',
       'Ahmedabad, Gujarat, India', 'Azadpur, Delhi, India',
       'Haryana, Haryana, India', 'Cochin, Kerala, India',
       'Faridabad, Haryana, India', 'Jaipur, Rajasthan, India',
       'Kota, Rajasthan, India', 'Anand, Gujarat, India',
       'Bangalore City, Karnataka, India', 'Belgaum, Karnataka, India',
       'Thane, Maharashtra, India', 'Margão, Goa, India',
       'Indore, Madhya Pradesh, India', 'Alwar, Rajasthan, India',
       'Kannur, Kerala, India', 'Trivandrum, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [26]:
df['Location'].value_counts()

Bangalore, Karnataka, India         101
Mumbai, Maharashtra, India           94
Bengaluru, Karnataka, India          55
Gurgaon, Haryana, India              52
New Delhi, Delhi, India              51
Pune, Maharashtra, India             20
Chennai, Tamil Nadu, India           19
Hyderabad, Andhra Pradesh, India     18
Delhi, Delhi, India                  16
Noida, Uttar Pradesh, India          15
Haryana, Haryana, India              11
Jaipur, Rajasthan, India              9
Ahmedabad, Gujarat, India             6
Kolkata, West Bengal, India           6
Bangalore City, Karnataka, India      5
Indore, Madhya Pradesh, India         4
India, Asia                           4
Kormangala, Karnataka, India          3
Bhopal, Madhya Pradesh, India         2
Thane, Maharashtra, India             2
Kochi, Kerala, India                  2
Ghaziabad, Uttar Pradesh, India       2
Powai, Assam, India                   1
Cochin, Kerala, India                 1
Kota, Rajasthan, India                1
Lucknow, Uttar Pradesh, India         1
Alleppey, Kerala, India               1
Andheri, Maharashtra, India           1
Hubli, Karnataka, India               1
Coimbatore, Tamil Nadu, India         1
Anand, Gujarat, India                 1
Trivandrum, Kerala, India             1
Chandigarh, Chandigarh, India         1
Ernakulam, Kerala, India              1
Kalkaji, Delhi, India                 1
Belgaum, Karnataka, India             1
Guindy, Tamil Nadu, India             1
Faridabad, Haryana, India             1
Mohali, Punjab, India                 1
Mylapore, Tamil Nadu, India           1
Kannur, Kerala, India                 1
Alwar, Rajasthan, India               1
Kanpur, Uttar Pradesh, India          1
Azadpur, Delhi, India                 1
Guntur, Andhra Pradesh, India         1
Kalpakkam, Tamil Nadu, India          1
Jodhpur, Rajasthan, India             1
Margão, Goa, India                    1
Uttar Pradesh, India, Asia            1
Worli, Maharashtra, India             1
Name: Location, dtype: int64

In [27]:
# The 'Location' column is in the format, 'City, Region, Country',
# Only 'City' aspect is needed for this analysis
# Take all character until we reach the first comma sign

df['Location'] = df['Location'].apply(str)
df['Location'] = df['Location'].str.split(',').str[0]
df['Location'] = df['Location'].replace("'","",regex=True)

In [28]:
# From obersavtion, there is use of official and unofficial names of certain cities.
# The incorrect names need to be rectified for correct analysis, eg A city with more than one name.
df["Location"] = df["Location"].replace (['Bangalore','Bangalore City','Belgaum'], 'Bengaluru')
df['Location'] = df['Location'].str.replace('New Delhi','Delhi')

In [29]:
df['Location']

0          Bengaluru
1             Mumbai
2            Gurgaon
3              Noida
4          Hyderabad
5          Bengaluru
6            Kalkaji
7          Hyderabad
8             Mumbai
9          Bengaluru
10             Delhi
11         Bengaluru
12             India
13             Hubli
14         Bengaluru
15         Bengaluru
16            Mumbai
17         Bengaluru
18             Delhi
19           Chennai
20            Mumbai
21            Mumbai
22             Delhi
23             Delhi
24         Bengaluru
25            Mohali
26           Chennai
27            Mumbai
28            Mumbai
29         Hyderabad
30             Delhi
31           Kolkata
32         Bengaluru
33         Bengaluru
34            Mumbai
35         Bengaluru
36            Mumbai
37             Delhi
38            Mumbai
39           Chennai
40             Delhi
41         Hyderabad
42             India
43            Mumbai
44             Delhi
45             Delhi
46         Bengaluru
47            Mumbai
48              Pune
49           Jodhpur
50           Chennai
51            Kanpur
52         Bengaluru
53         Hyderabad
54             Delhi
55           Kolkata
56            Mumbai
57             Delhi
58            Mumbai
59             India
60         Bengaluru
61         Bengaluru
62         Hyderabad
63             Delhi
64         Bengaluru
65             Delhi
66              Pune
67             Delhi
68         Bengaluru
69         Ahmedabad
70         Bengaluru
71           Chennai
72         Bengaluru
73            Mumbai
74             Delhi
75         Hyderabad
76           Gurgaon
77         Bengaluru
78           Azadpur
79         Bengaluru
80         Bengaluru
81            Mumbai
82             Delhi
83           Gurgaon
84           Haryana
85         Bengaluru
86              Pune
87         Bengaluru
88             Noida
89            Cochin
90            Mumbai
91         Faridabad
92         Bengaluru
93             Delhi
94            Jaipur
95           Gurgaon
96         Bengaluru
97         Bengaluru
98              Kota
99         Bengaluru
100           Jaipur
101        Bengaluru
102          Haryana
103            Anand
104           Mumbai
105          Kolkata
106          Chennai
107            Delhi
108           Mumbai
109          Gurgaon
110          Gurgaon
111           Mumbai
112          Chennai
113        Bengaluru
114           Mumbai
115            Delhi
116           Mumbai
117            Noida
118           Mumbai
119        Hyderabad
120             Pune
121           Jaipur
122           Mumbai
123        Bengaluru
124        Bengaluru
125        Bengaluru
126        Bengaluru
127        Bengaluru
128            Delhi
129             Pune
130        Bengaluru
131        Bengaluru
132            Delhi
133           Mumbai
134        Bengaluru
135          Gurgaon
136            Thane
137           Mumbai
138           Mumbai
139             Pune
140           Mumbai
141          Gurgaon
142          Haryana
143          Gurgaon
144        Bengaluru
145          Gurgaon
146             Pune
147           Margão
148          Gurgaon
149        Bengaluru
150          Gurgaon
151            Noida
152           Indore
153            Alwar
154           Kannur
155          Gurgaon
156            Delhi
157          Chennai
158           Mumbai
159           Mumbai
160           Mumbai
161        Bengaluru
162          Gurgaon
163           Mumbai
164          Chennai
165           Mumbai
166        Bengaluru
167        Bengaluru
168        Bengaluru
169          Gurgaon
170          Gurgaon
171            Delhi
172           Mumbai
173             Pune
174        Bengaluru
175        Bengaluru
176           Mumbai
177          Gurgaon
178        Bengaluru
179        Bengaluru
180            Thane
181        Bengaluru
182           Mumbai
183        Bengaluru
184           Mumbai
185          Gurgaon
186        Ahmedabad
187        Bengaluru
188           Mumbai
189        Bengaluru
190             Pune
191             Pune
192            Noida
193            Delhi
194       Trivandrum
195        Bengaluru
196        Bengaluru
197        Ernakulam
198        Ahmedabad
199            India
200          Gurgaon
201          Gurgaon
202        Bengaluru
203        Bengaluru
204        Bengaluru
205           Mumbai
206          Chennai
207        Hyderabad
208          Gurgaon
209       Kormangala
210        Bengaluru
211        Hyderabad
212        Bengaluru
213           Mumbai
214           Mumbai
215        Bengaluru
216        Bengaluru
217            Delhi
218            Delhi
219             Pune
220        Bengaluru
221        Bengaluru
222          Gurgaon
223        Bengaluru
224          Chennai
225          Gurgaon
226        Bengaluru
227            Delhi
228           Jaipur
229        Bengaluru
230          Gurgaon
231             Pune
232        Bengaluru
233          Chennai
234        Bengaluru
235        Bengaluru
236        Bengaluru
237            Delhi
238        Bengaluru
239        Bengaluru
240    Uttar Pradesh
241          Gurgaon
242        Bengaluru
243        Bengaluru
244           Mumbai
245           Jaipur
246        Bengaluru
247           Mumbai
248        Bengaluru
249             Pune
250           Jaipur
251        Hyderabad
252          Chennai
253           Mumbai
254          Andheri
255        Bengaluru
256            Noida
257            Delhi
258             Pune
259            Delhi
260        Bengaluru
261            Noida
262           Mumbai
263         Mylapore
264        Ahmedabad
265        Bengaluru
266           Mumbai
267           Mumbai
268          Gurgaon
269           Indore
270          Gurgaon
271            Noida
272        Bengaluru
273           Mumbai
274          Gurgaon
275        Ghaziabad
276            Noida
277        Hyderabad
278        Bengaluru
279            Noida
280           Mumbai
281            Kochi
282            Powai
283           Mumbai
284        Bengaluru
285        Bengaluru
286            Delhi
287            Delhi
288           Guntur
289          Haryana
290          Gurgaon
291            Delhi
292        Bengaluru
293           Indore
294            Delhi
295            Delhi
296          Gurgaon
297        Bengaluru
298           Mumbai
299            Noida
300        Bengaluru
301            Noida
302        Bengaluru
303            Delhi
304        Bengaluru
305        Bengaluru
306        Bengaluru
307        Hyderabad
308          Gurgaon
309           Mumbai
310        Bengaluru
311           Mumbai
312            Delhi
313           Mumbai
314        Bengaluru
315           Mumbai
316           Mumbai
317        Bengaluru
318             Pune
319           Indore
320          Kolkata
321            Noida
322        Bengaluru
323        Bengaluru
324        Bengaluru
325          Gurgaon
326           Mumbai
327           Mumbai
328           Mumbai
329        Bengaluru
330            Delhi
331        Bengaluru
332        Bengaluru
333           Mumbai
334          Kolkata
335        Bengaluru
336        Bengaluru
337        Bengaluru
338        Hyderabad
339        Bengaluru
340        Bengaluru
341             Pune
342           Mumbai
343        Bengaluru
344        Bengaluru
345           Mumbai
346          Chennai
347          Gurgaon
349        Bengaluru
350        Bengaluru
351           Mumbai
352           Mumbai
353           Mumbai
354            Delhi
355            Delhi
356           Jaipur
357            Delhi
358           Mumbai
359        Bengaluru
360        Bengaluru
361        Hyderabad
362        Bengaluru
363        Bengaluru
364            Delhi
365        Bengaluru
366           Mumbai
367        Hyderabad
368        Bengaluru
369           Mumbai
370        Bengaluru
371            Noida
372        Bengaluru
373          Gurgaon
374            Delhi
375        Bengaluru
376          Gurgaon
377          Chennai
378          Chennai
379        Bengaluru
380           Mumbai
381        Bengaluru
382        Bengaluru
383        Ahmedabad
384            Delhi
385            Delhi
386        Bengaluru
387          Gurgaon
388        Bengaluru
389        Kalpakkam
390        Bengaluru
391        Bengaluru
392          Gurgaon
393           Mumbai
394           Jaipur
395        Bengaluru
396        Bengaluru
397          Gurgaon
398        Bengaluru
399        Bengaluru
400           Bhopal
401       Coimbatore
402        Bengaluru
403           Bhopal
404        Bengaluru
405          Gurgaon
406        Bengaluru
407            Worli
408            Delhi
409            Delhi
410            Delhi
411           Mumbai
412          Gurgaon
413           Mumbai
414        Bengaluru
415         Alleppey
416            Delhi
417          Gurgaon
418          Haryana
419          Gurgaon
420           Mumbai
421          Haryana
422            Delhi
423          Gurgaon
424            Delhi
425            Delhi
426           Mumbai
427       Chandigarh
428        Bengaluru
429           Mumbai
430           Mumbai
431        Hyderabad
432           Mumbai
433            Delhi
434          Haryana
435           Mumbai
436            Kochi
437        Bengaluru
438        Bengaluru
439        Bengaluru
440        Bengaluru
441           Guindy
442        Bengaluru
443        Bengaluru
444          Gurgaon
445            Delhi
446            Delhi
447        Bengaluru
448        Bengaluru
449          Gurgaon
450             Pune
451          Gurgaon
452       Kormangala
453          Gurgaon
454           Mumbai
455          Chennai
456            Delhi
457          Gurgaon
458        Bengaluru
459            Delhi
460            Delhi
461           Mumbai
462           Mumbai
463        Bengaluru
464            Delhi
465        Hyderabad
466        Bengaluru
467            Delhi
468            Delhi
469            Delhi
470          Haryana
471          Kolkata
472           Mumbai
473           Mumbai
474        Bengaluru
475        Bengaluru
476        Bengaluru
477        Bengaluru
478        Ahmedabad
479          Lucknow
480          Gurgaon
481          Haryana
482        Bengaluru
483        Bengaluru
484        Bengaluru
485          Gurgaon
486          Gurgaon
487            Delhi
488            Delhi
489        Bengaluru
490        Bengaluru
491        Bengaluru
492       Kormangala
493          Haryana
494           Mumbai
495            Noida
496        Bengaluru
497        Bengaluru
498           Mumbai
499           Mumbai
500             Pune
501          Gurgaon
502           Mumbai
503          Chennai
504           Mumbai
505             Pune
506        Bengaluru
507           Mumbai
508            Delhi
509           Mumbai
510        Bengaluru
511           Mumbai
512           Jaipur
513           Mumbai
514            Delhi
515             Pune
516            Delhi
517        Bengaluru
518        Ghaziabad
519        Bengaluru
520        Bengaluru
521        Bengaluru
522          Haryana
523           Mumbai
524           Mumbai
525          Chennai
Name: Location, dtype: object

In [30]:
df['Location'].unique()

array(['Bengaluru', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad', 'Kalkaji',
       'Delhi', 'India', 'Hubli', 'Chennai', 'Mohali', 'Kolkata', 'Pune',
       'Jodhpur', 'Kanpur', 'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin',
       'Faridabad', 'Jaipur', 'Kota', 'Anand', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow'],
      dtype=object)

In [31]:
df['Location'].value_counts()

Bengaluru        162
Mumbai            94
Delhi             67
Gurgaon           52
Pune              20
Chennai           19
Hyderabad         18
Noida             15
Haryana           11
Jaipur             9
Ahmedabad          6
Kolkata            6
Indore             4
India              4
Kormangala         3
Thane              2
Bhopal             2
Kochi              2
Ghaziabad          2
Worli              1
Kalpakkam          1
Faridabad          1
Cochin             1
Jodhpur            1
Uttar Pradesh      1
Alwar              1
Kannur             1
Margão             1
Anand              1
Lucknow            1
Guindy             1
Powai              1
Hubli              1
Coimbatore         1
Mohali             1
Alleppey           1
Chandigarh         1
Ernakulam          1
Trivandrum         1
Guntur             1
Kanpur             1
Kalkaji            1
Azadpur            1
Andheri            1
Kota               1
Mylapore           1
Name: Location, dtype: int64

### Industry Column

In [32]:
df['Industry']

0      Brand Marketing, Event Promotion, Marketing, S...
1                                   Agriculture, Farming
2       Credit, Financial Services, Lending, Marketplace
3                            Financial Services, FinTech
4                     E-Commerce Platforms, Retail, SaaS
5                       Cloud Infrastructure, PaaS, SaaS
6                         Internet, Leisure, Marketplace
7                                        Market Research
8           Information Services, Information Technology
9                                        Mobile Payments
10                                            B2B, Shoes
11                                              Internet
12     Apps, Collaboration, Developer Platform, Enter...
13                                         Food Delivery
14                                 Industrial Automation
15           Automotive, Search Engine, Service Industry
16                             Finance, Internet, Travel
17     Accounting, Business Information Systems, Busi...
18     Artificial Intelligence, Product Search, SaaS,...
19                  Internet of Things, Waste Management
20     Air Transportation, Freight Service, Logistics...
21                                    Financial Services
22                                     Food and Beverage
23                                   Autonomous Vehicles
24     Enterprise Software, Health Care, Hospital, Pa...
25             Agriculture, Analytics, Big Data, Farming
26                    Logistics, Supply Chain Management
27                           Financial Services, Lending
28               Automotive, Marketplace, Online Portals
29                               Artificial Intelligence
30                Internet of Things, Telecommunications
31                                             Insurance
32                                    Financial Services
33     Information Technology, Logistics, Supply Chai...
34      Blockchain, Developer Tools, Enterprise Software
35     Industrial Automation, Logistics, Supply Chain...
36          Food and Beverage, Food Delivery, Snack Food
37                                             Education
38                  E-Commerce, Fashion, Jewelry, Retail
39                                    Financial Services
40                                      Renewable Energy
41                                 E-Learning, Education
42     Clean Energy, CleanTech, Laundry and Dry-cleaning
43                           E-Commerce, Fashion, Mobile
44            Apps, Messaging, Navigation, Public Safety
45                                        Transportation
46                           Financial Services, Lending
47                        Fitness, Health Care, Wellness
48     Artificial Intelligence, Machine Learning, Saa...
49                                           Hospitality
50                                Food and Beverage, Tea
51               Media and Entertainment, News, Outdoors
52     Broadcasting, Media and Entertainment, Music, ...
53     B2B, Information Services, Information Technology
54     EdTech, Education, Enterprise Software, Peer t...
55                                  Health Care, Medical
56                                            E-Commerce
57                       Health Care, Hospital, Wellness
58                                                     —
59                                                Sports
60                   Big Data, Consumer Lending, FinTech
61              Cloud Computing, Computer, Semiconductor
62                  Health Care, Medical, Pharmaceutical
63                               Food Processing, Retail
64                                      Trading Platform
65                      Consumer Goods, Lifestyle, Men's
66                                              Wellness
67                                             Education
68         Food and Beverage, Food Processing, Nutrition
69                                               Fashion
70          Automotive, Electric Vehicle, Energy Storage
71                            Consulting, Retail, Social
72     Biotechnology, Life Science, Pharmaceutical, P...
73                                           Health Care
74     Credit, Financial Services, FinTech, Personal ...
75                                              Internet
76                    Communities, Coworking, Incubators
77                 Consumer, Financial Services, FinTech
78     Consumer Applications, Information Services, L...
79     Mobile, Mobile Apps, Personalization, Test and...
80                Education, Financial Services, FinTech
81            Advertising, Consulting, Digital Marketing
82             Marketplace, Real Estate, Rental Property
83                                           Health Care
84                     E-Learning, Internet, Video Games
85       Artificial Intelligence, Cloud Computing, Video
86                   Health Care, Information Technology
87                                             Aerospace
88                        E-Commerce, Fashion, Lifestyle
89     Artificial Intelligence, Business Intelligence...
90                                             Insurance
91                                            E-Commerce
92     Home Decor, Home Improvement, Home Renovation,...
93         EdTech, Education, Information Services, SaaS
94                                         Energy, Solar
95     B2B, Biometrics, Cyber Security, Fraud Detecti...
96                       Artificial Intelligence, Social
97                     Logistics, Transportation, Travel
98          Digital Marketing, SEM, SEO, Web Development
99                        Health Care, Hospital, Medical
100                          Finance, Financial Services
101             Food Delivery, Food Processing, Internet
102              E-Commerce, Food and Beverage, Internet
103    Fitness, Food and Beverage, Health Care, Nutri...
104              EdTech, Education, Knowledge Management
105                                                    —
106                                   Financial Services
107                       Apps, Beauty, Consumer, Retail
108    Creative Agency, Crowdfunding, EdTech, Health ...
109    Consumer Lending, Financial Services, FinTech,...
110              E-Learning, Education, Higher Education
111                 Health Care, Medical, Pharmaceutical
112                                   Health Diagnostics
113                                    EdTech, Education
114                   Financial Services, SaaS, Security
115     Banking, Finance, Financial Services, Non Profit
116                          Finance, Financial Services
117                              B2B, E-Commerce, Mobile
118       Automotive, Electric Vehicle, Renewable Energy
119                                           E-Learning
120    Embedded Systems, Health Care, Medical, Produc...
121                                                    —
122                           Apps, E-Commerce, Internet
123              Advertising, Human Resources, Marketing
124             Beauty, Fitness, Home Services, Internet
125           Health Care, Medical Device, Public Safety
126           Food Delivery, Online Portals, Restaurants
127                 AgTech, B2B, Supply Chain Management
128    Credit Cards, Finance, Mobile Apps, Mobile Pay...
129                                             Software
130    EdTech, Education, Higher Education, Secondary...
131                                Manufacturing, Retail
132                                        Manufacturing
133    Information Services, Information Technology, ...
134                            Consumer Lending, FinTech
135                         Internet, Social Network, TV
136                                  Beauty, Health Care
137                                             Hospital
138                                               Events
139           3D Printing, Manufacturing, Product Design
140                                           Automotive
141                                   Automotive, Retail
142                                          Apps, Audio
143                               Automotive, E-Commerce
144        Digital Entertainment, Fantasy Sports, Sports
145                        E-Learning, EdTech, Education
146                                                    —
147             Funding Platform, Incubators, Non Profit
148                  Hospitality, Hotel, Leisure, Travel
149    Classifieds, Internet, Marketplace, Rental Pro...
150                                               Sports
151                Banking, E-Learning, Trading Platform
152                           E-Commerce, Mobile, Retail
153                                                    —
154      Artificial Intelligence, Information Technology
155    Enterprise Resource Planning (ERP), Informatio...
156                 Banking, Finance, Financial Services
157                                             Software
158         Information Services, Information Technology
159                       Audio, Mobile, Tourism, Travel
160               Energy, Energy Storage, Infrastructure
161                              Artificial Intelligence
162         Government, Information Technology, Software
163                               Information Technology
164    Education, Information Technology, Internet, M...
165    Consumer Lending, Financial Services, Lending,...
166    Digital Media, Internet, Media and Entertainme...
167    Business Intelligence, Customer Service, Marke...
168         Credit, Financial Services, FinTech, Lending
169                                           E-Learning
170                                             Software
171                       Children, Education, Parenting
172          Automotive, Battery, Energy, Energy Storage
173                  E-Commerce, Mobile, Sharing Economy
174                                                    —
175                 Food Delivery, Organic, Organic Food
176                                               Mobile
177                                               Rental
178                                               Travel
179                                             Consumer
180                            B2B, Farming, Marketplace
181                                                    —
182                                    Wealth Management
183                                        Biotechnology
184                          Education, Gaming, Training
185                                           Veterinary
186    Internet, Mobile, Social Entrepreneurship, Tel...
187       Health Care, Hospital, Supply Chain Management
188                          Finance, Financial Services
189                          Financial Services, Lending
190                                      Tourism, Travel
191                                            Education
192                             Hospitality, Real Estate
193                                              Finance
194                                      Market Research
195                                      Tourism, Travel
196      Digital Media, EBooks, Publishing, Reading Apps
197    Consumer Electronics, Embedded Systems, Hardwa...
198                   Food and Beverage, Food Processing
199                      Internet, Marketplace, Shopping
200    Analytics, Computer Vision, Enterprise Softwar...
201                          Facilities Support Services
202                 Automotive, Electric Vehicle, Energy
203    Health Care, Health Diagnostics, Predictive An...
204            Cloud Computing, Computer, SaaS, Software
205                           Fashion, Lifestyle, Retail
206                                            Education
207                                              Medical
208                                      Music Streaming
209                  Finance, Impact Investing, Internet
210                                                    —
211                    Internet, Social Entrepreneurship
212                                               Retail
213               Finance, Impact Investing, Mobile Apps
214                  Cloud Computing, Computer, Software
215    Business Development, Market Research, Outsour...
216                                            Education
217                             Health Care, Hospitality
218                        Internet, Social News, Sports
219                               Information Technology
220                                      Human Resources
221                                   Financial Services
222                                   Financial Services
223                 Finance, Financial Services, FinTech
224    Customer Service, Software, Video, Video Strea...
225                          E-Commerce, Food Processing
226                                          Health Care
227                                             Training
228                                               Travel
229                                    Food and Beverage
230                                                    —
231    Dietary Supplements, Food and Beverage, Health...
232                                   Financial Services
233                 Manufacturing, Oil and Gas, Robotics
234                       Fitness, Health Care, Wellness
235                                                    —
236    Artificial Intelligence, Computer, Machine Lea...
237    Collaboration, Communities, Coworking, Sharing...
238                                                    —
239                   Big Data, EdTech, Machine Learning
240                                       Nanotechnology
241    Analytics, Audio, Digital Media, Innovation Ma...
242                                                    —
243                                                    —
244            Financial Services, Lending, Peer to Peer
245    E-Commerce, Furniture, Home Decor, Interior De...
246                                        Digital Media
247                                                    —
248          File Sharing, Personalization, Social Media
249                          Home Decor, Interior Design
250             Health Care, Medical Device, Mobile Apps
251                                                    —
252    E-Commerce, Facilities Support Services, Procu...
253            Crowdfunding, Finance, Financial Services
254               Finance, Financial Services, Insurance
255                  Children, Education, Online Portals
256                            Software, Virtual Reality
257                                                    —
258                                                    —
259                                                    —
260                B2B, Food and Beverage, Food Delivery
261    Catering, Food and Beverage, Food Delivery, Fo...
262                        Food and Beverage, Snack Food
263                       Automotive, E-Commerce, Mobile
264    Computer, Digital Marketing, Facilities Suppor...
265    Android, Big Data, Blockchain, Cloud Computing...
266    Analytics, CRM, Loyalty Programs, Machine Lear...
267        Delivery, Information Technology, Mobile Apps
268           Environmental Consulting, Renewable Energy
269                   Food and Beverage, Food Processing
270    Big Data, Business Intelligence, Financial Ser...
271                 Finance, Financial Services, FinTech
272    Commercial Real Estate, Coworking, Office Admi...
273    Food and Beverage, Food Processing, Organic Fo...
274    Apps, Health Care, Internet, Mobile Apps, Pers...
275    Digital Media, Incubators, Social Entrepreneur...
276               Finance, Financial Services, Marketing
277    Biotechnology, Health Care, Life Science, Medi...
278                                               Travel
279                           Education, Human Resources
280                                             Internet
281                                 Consumer Electronics
282             Apps, Health Care, Hospital, Mobile Apps
283        Delivery Service, Logistics, Service Industry
284         Information Services, Information Technology
285    Big Data, Data Visualization, Logistics, Software
286    Basketball, Cricket, Cycling, eSports, Fitness...
287            Media and Entertainment, News, Publishing
288                                             Internet
289                                           Consulting
290                                      Human Resources
291                                              Finance
292    Big Data, Financial Services, Machine Learning...
293                   Agriculture, AgTech, Manufacturing
294                                                    —
295                      Digital Media, News, Publishing
296                                   Financial Services
297                                             Software
298                                Health Care, Hospital
299            Crowdfunding, Finance, Financial Services
300                          B2B, E-Commerce, Enterprise
301      Fraud Detection, Information Services, Security
302    Agriculture, AgTech, Artificial Intelligence, ...
303                     Cryptocurrency, Trading Platform
304                    Finance, FinTech, Mobile Payments
305                               Information Technology
306                                              Wedding
307                                        Digital Media
308    E-Learning, EdTech, Education, Image Recogniti...
309                                       Consumer Goods
310                               Information Technology
311                       Fitness, Health Care, Wellness
312                                Digital Entertainment
313    Crowdsourcing, Financial Services, Funding Pla...
314               Delivery, Drones, Geospatial, Robotics
315                                Health Care, Hospital
316                                       Consumer Goods
317                                   Financial Services
318    Health Care, Information Technology, Managemen...
319                                              Farming
320    Business Travel, Hospitality, Hotel, Marketpla...
321    Career Planning, Education, Higher Education, ...
322                                       Medical Device
323                    Alternative Medicine, Health Care
324                                   Internet, Software
325                                                    —
326                                                    —
327    Dental, Elder Care, Health Care, Home Health C...
328    Financial Services, Insurance, Private Social ...
329    Consumer Electronics, E-Commerce, E-Commerce P...
330                                            CleanTech
331                              Artificial Intelligence
332                                            Education
333                     Advertising, Internet, Marketing
334                                   Financial Services
335                  Human Resources, Security, Training
336                   Consumer Lending, Finance, FinTech
337                       Marketing, Social Media, Video
338                                       Transportation
339                                              Banking
340                                Health Care, Hospital
341                   Food and Beverage, Food Processing
342                                      Food Processing
343                                                 Apps
344                                            Marketing
345    Apps, B2B, Freight Service, Logistics, SaaS, S...
346                                                    —
347    Digital Entertainment, Fantasy Sports, Gaming,...
349    Automotive, Last Mile Transportation, Peer to ...
350                    Commercial, E-Learning, Education

In [33]:
# let's check all the unique values in the industry column
df['Industry'].unique()

array(['Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes', 'Internet',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Food Delivery', 'Industrial Automation',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Financial Services', 'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications', 'Insurance',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food', 'Education',
       'E-Commerce, Fashion, Jewelry, Retail', 'Renewable Energy',
       'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety', 'Transportation',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Hospitality', 'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—', 'Sports',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition', 'Fashion',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'Software',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail', 'Manufacturing',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive',
       'Automotive, Retail', 'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Information Technology',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Rental',
       'Travel', 'Consumer', 'B2B, Farming, Marketplace',
       'Wealth Management', 'Biotechnology',
       'Education, Gaming, Training', 'Veterinary',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate', 'Finance',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship', 'Retail',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Human Resources', 'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning', 'Nanotechnology',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'Digital Media', 'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Finance, Financial Services, Marketing',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Education, Human Resources', 'Consumer Electronics',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Delivery Service, Logistics, Service Industry',
       'Big Data, Data Visualization, Logistics, Software',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Media and Entertainment, News, Publishing', 'Consulting',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Agriculture, AgTech, Manufacturing',
       'Digital Media, News, Publishing', 'Health Care, Hospital',
       'B2B, E-Commerce, Enterprise',
       'Fraud Detection, Information Services, Security',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Cryptocurrency, Trading Platform',
       'Finance, FinTech, Mobile Payments', 'Wedding',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'Consumer Goods', 'Digital Entertainment',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Delivery, Drones, Geospatial, Robotics',
       'Health Care, Information Technology, Management Information Systems',
       'Farming',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'Career Planning, Education, Higher Education, Service Industry',
       'Medical Device', 'Alternative Medicine, Health Care',
       'Internet, Software',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Financial Services, Insurance, Private Social Networking',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'CleanTech', 'Advertising, Internet, Marketing',
       'Human Resources, Security, Training',
       'Consumer Lending, Finance, FinTech',
       'Marketing, Social Media, Video', 'Banking', 'Food Processing',
       'Apps', 'Marketing',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Commercial, E-Learning, Education',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Smart Cities, Telecommunications', 'Internet of Things, Robotics',
       'Apps, Home Services, Information Services, Information Technology',
       'Medical, Tourism', 'Career Planning, Education, Internet',
       'Fashion, Graphic Design, Wearables',
       'Communities, Leisure, Mobile Apps, Software',
       'Automotive, Rental, Sharing Economy',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Information Technology, SaaS, Security',
       'Crowdfunding, Financial Services, Internet',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'EdTech, Education, Mobile, Tutoring', 'Social Media, Sports',
       'Biopharma', 'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Fashion, Shopping',
       'Digital Entertainment, Mobile, PC Games',
       'Finance, Financial Services, Small and Medium Businesses',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Computer, FinTech, Risk Management, Software',
       'Apps, Financial Services, FinTech',
       "Child Care, Health Care, Hospital, Medical, Women's",
       'Agriculture, Mobile',
       'Finance, FinTech, Payments, Property Development, Rental',
       'Information Services, Information Technology, Mobile, Software',
       'Apps, Fitness, Health Care, mHealth',
       'Food and Beverage, Food Delivery', 'Apps, Payments, Retail',
       'Health Insurance, Insurance, Life Insurance',
       'Rental, Taxi Service, Travel',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'Financial Services, Professional Services',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Gaming, iOS, Sports',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'Search Engine',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Agriculture, Farmers Market, Farming',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation',
       'Mobile, Software, Travel', 'Cosmetics',
       'Consulting, Cyber Security, Network Security',
       'eSports, Gaming, Video Games', 'Fashion, Jewelry',
       'B2B, Medical Device', 'Consumer Goods, Manufacturing',
       'Biotechnology, Health Care, Wellness',
       'Health Care, Hospital, Medical, Robotics',
       'E-Commerce, Fitness, Health Care',
       'Financial Services, Venture Capital', 'Accounting, Apps, FinTech',
       'Apps, Mobile, Transportation', 'Reading Apps',
       'Energy, Renewable Energy, Solar',
       'Banking, Financial Services, FinTech', 'Apps, Education, Retail',
       'Electric Vehicle',
       'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design',
       'Automotive, E-Commerce, Marketplace', 'Agriculture',
       'Apps, Information Services, Information Technology',
       'B2B, Marketplace', 'Packaging Services',
       'Computer, Furniture, Software',
       'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine',
       'Collaboration, Communities, Coworking, Real Estate',
       'Accounting, Banking, Finance',
       'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS',
       'Information Services, Internet, Logistics, Supply Chain Management, Transportation',
       'Automotive, E-Commerce, Information Services',
       'Delivery, Logistics, Transportation',
       'Automotive, E-Commerce Platforms, Marketplace',
       'Last Mile Transportation, Railroad, Transportation, Travel',
       'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals',
       'FinTech, Mobile, Mobile Payments, Payments, Retail Technology',
       'Online Games, Software',
       'Online Portals, Property Management, Rental',
       'E-Commerce, Food and Beverage, Tea',
       'Music, Social Network, Video',
       'Health Care, Pharmaceutical, Wellness',
       'Delivery Service, Food and Beverage, Food Delivery',
       'Hospitality, Information Technology, Travel Accommodations',
       'Biotechnology, Diabetes, Health Care',
       'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental',
       'Finance, Financial Exchanges, Financial Services, Micro Lending',
       'Analytics, Apps, Market Research',
       'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet',
       'Apps, Mobile, Mobile Apps, Software',
       'News, Publishing, Social Media',
       'Industrial, Industrial Automation',
       'Internet, Mobile Apps, Social Network',
       'Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device',
       'E-Commerce, Furniture, Interior Design', 'Apps, Events, News',
       'Artificial Intelligence, Human Resources, Information Services, Information Technology',
       'Logistics, Railroad, Transportation',
       'Dating, Private Social Networking',
       'Artificial Intelligence, Machine Learning, PaaS',
       'Consumer, Furniture, Home Decor, Home Improvement',
       'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation',
       'Health Care, Health Insurance', 'Energy, Natural Resources',
       'E-Commerce, Education, Health Care',
       'Apps, Health Care, Pharmaceutical',
       'Internet, Knowledge Management',
       'Credit, Finance, FinTech, Lending, Sales Automation',
       'Banking, Financial Services, Internet',
       'E-Commerce, Health Care, Retail',
       'Child Care, Information Technology',
       'Financial Services, Micro Lending',
       'E-Commerce, Retail, Shopping',
       'Food and Beverage, Snack Food, Tea',
       'Delivery Service, E-Commerce, Logistics',
       'Fashion, Lifestyle, Rental', 'Fantasy Sports, Mobile, Sports',
       'Beauty, Fashion, Wellness', 'Food and Beverage, Restaurants, Tea',
       'Fitness, Sporting Goods, Sports',
       'Food and Beverage, Food Processing, Manufacturing',
       'E-Learning, Internet', 'Eyewear, Internet',
       'Information Technology, Mobile, News, Operating Systems, Social Media, Social News',
       'FinTech, Internet, Payments, Service Industry',
       'B2B, Business Development, Internet, Marketplace',
       'Food and Beverage, Food Delivery, Internet',
       'Biotechnology, Health Care, Pharmaceutical'], dtype=object)

In [34]:
df['Industry'].value_counts()

—                                                                                                                                           30
Financial Services                                                                                                                          15
Education                                                                                                                                    8
Information Technology                                                                                                                       7
Finance, Financial Services                                                                                                                  5
Health Care, Hospital                                                                                                                        5
Artificial Intelligence                                                                                                                      4
Software                                                                                                                                     4
Internet                                                                                                                                     4
Fitness, Health Care, Wellness                                                                                                               4
Health Care                                                                                                                                  4
E-Learning                                                                                                                                   3
Travel                                                                                                                                       3
Information Services, Information Technology                                                                                                 3
Tourism, Travel                                                                                                                              3
Automotive                                                                                                                                   3
Food and Beverage                                                                                                                            3
Financial Services, Lending                                                                                                                  3
Food and Beverage, Food Processing                                                                                                           3
Finance, Financial Services, FinTech                                                                                                         2
E-Learning, EdTech, Education                                                                                                                2
Finance                                                                                                                                      2
Consumer Goods                                                                                                                               2
Sports                                                                                                                                       2
Retail                                                                                                                                       2
E-Commerce                                                                                                                                   2
Biotechnology                                                                                                                                2
Health Diagnostics                                                                                                                           2
Market Research                                                                                                                              2
Financial Services, FinTech                                                                                                                  2
Aerospace                                                                                                                                    2
Digital Media                                                                                                                                2
Credit, Financial Services, FinTech, Lending                                                                                                 2
Mobile Payments                                                                                                                              2
Banking, Finance, Financial Services                                                                                                         2
E-Learning, Education                                                                                                                        2
Health Care, Medical, Pharmaceutical                                                                                                         2
Fashion                                                                                                                                      2
Agriculture, Farming                                                                                                                         2
Insurance                                                                                                                                    2
Health Care, Hospital, Supply Chain Management                                                                                               2
Human Resources                                                                                                                              2
Transportation                                                                                                                               2
Crowdfunding, Finance, Financial Services                                                                                                    2
Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance                                                               1
E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet                                                                            1
Communities, Coworking, Incubators                                                                                                           1
Agriculture, AgTech, Manufacturing                                                                                                           1
B2B, Food and Beverage, Food Delivery                                                                                                        1
Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design                                                                      1
Food Delivery, Online Portals, Restaurants                                                                                                   1
Packaging Services                                                                                                                           1
Information Technology, SaaS, Security                                                                                                       1
AgTech, B2B, Supply Chain Management                                                                                                         1
Internet, Leisure, Marketplace                                                                                                               1
Cloud Computing, Computer, Semiconductor                                                                                                     1
Consumer Applications, Information Services, Location Based Services, Virtual Assistant                                                      1
Automotive, Battery, Energy, Energy Storage                                                                                                  1
E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media                                                                        1
Autonomous Vehicles                                                                                                                          1
Children, Education, Parenting                                                                                                               1
Fraud Detection, Information Services, Security                                                                                              1
EdTech, Education, Information Services, SaaS                                                                                                1
Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment                                              1
Food and Beverage, Food Processing, Manufacturing                                                                                            1
Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning                                                           1
Artificial Intelligence, Machine Learning, PaaS                                                                                              1
Computer, Furniture, Software                                                                                                                1
EdTech, Education                                                                                                                            1
Cloud Computing, Computer, SaaS, Software                                                                                                    1
Digital Media, News, Publishing                                                                                                              1
Automotive, Electric Vehicle, Energy                                                                                                         1
Information Services, Information Technology, Mobile, Software                                                                               1
Automotive, Retail                                                                                                                           1
Battery, Electric Vehicle, Energy, Renewable Energy, Transportation                                                                          1
Food and Beverage, Snack Food, Tea                                                                                                           1
Apps, Education, Retail                                                                                                                      1
Financial Services, Micro Lending                                                                                                            1
E-Commerce, Furniture, Interior Design                                                                                                       1
Health Care, Hospital, Medical                                                                                                               1
Artificial Intelligence, Information Technology                                                                                              1
Apps, Messaging, Navigation, Public Safety                                                                                                   1
E-Commerce, Mobile, Retail                                                                                                                   1
Collaboration, Communities, Coworking, Sharing Economy                                                                                       1
Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development                    1
Computer, FinTech, Risk Management, Software                                                                                                 1
Mobile, Software, Travel                                                                                                                     1
Finance, FinTech, Payments, Property Development, Rental                                                                                     1
Cosmetics                                                                                                                                    1
Customer Service, Messaging, Mobile Apps, Personalization                                                                                    1
Automotive, Electric Vehicle, Energy Storage                                                                                                 1
Blockchain, Developer Tools, Enterprise Software                                                                                             1
Hospital                                                                                                                                     1
Delivery, Logistics, Transportation                                                                                                          1
Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management                              1
Biotechnology, Health Care, Life Science, Medical Device                                                                                     1
Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant                                                                           1
Financial Services, Insurance, Private Social Networking                                                                                     1
E-Learning, Education, Higher Education                                                                                                      1
Financial Services, SaaS, Security                                                                                                           1
Food and Beverage, Food Processing, Nutrition                                                                                                1
Health Care, Hospitality                                                                                                                     1
Music Streaming                                                                                                                              1
Energy, Natural Resources                                                                                                                    1
Digital Marketing, SEM, SEO, Web Development                                                                                                 1
Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments                                                                                1
Artificial Intelligence, Computer, Machine Learning                                                                                          1
Food Processing, Retail                                                                                                                      1
Digital Media, Incubators, Social Entrepreneurship                                                                                           1
Environmental Consulting, Renewable Energy                                                                                                   1
Wealth Management                                                                                                                            1
Cloud Infrastructure, PaaS, SaaS                                                                                                             1
Career Planning, Education, Internet                                                                                                         1
E-Commerce Platforms, Retail, SaaS                                                                                                           1
Marketing                                                                                                                                    1
Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat                                      1
Facilities Support Services                                                                                                                  1
Air Transportation, Freight Service, Logistics, Marine Transportation                                                                        1
Consulting, Cyber Security, Network Security                                                                                                 1
Accounting, Banking, Finance                                                                                                                 1
Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development     1
E-Commerce, Food and Beverage, Internet                                                                                                      1
Communities, Leisure, Mobile Apps, Software                                                                                                  1
Hospitality                                                                                                                                  1
Manufacturing, Retail                                                                                                                        1
Medical Device                                                                                                                               1
Automotive, Search Engine, Service Industry                                                                                                  1
Fashion, Jewelry                                                                                                                             1
Internet of Things, Robotics                                                                                                                 1
E-Commerce, Fashion, Jewelry, Retail                                                                                                         1
E-Commerce, Retail, Shopping                                                                                                                 1
Mobile                                                                                                                                       1
Food and Beverage, Food Processing, Organic Food, Snack Food                                                                                 1
Medical, Tourism                                                                                                                             1
Marketing, Social Media, Video                                                                                                               1
Internet, Marketplace, Shopping                                                                                                              1
Internet of Things, Waste Management                                                                                                         1
Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS                                                                 1
Consumer, Furniture, Home Decor, Home Improvement                                                                                            1

BELOW WE WANT TO HANDLE, Title casing, leading and trailing spaces and also standardize the indusrty column

In [35]:
# Get unique values in the 'Industry' column
unique_values = df['Industry'].unique()
# Create a set to store the delimiters
delimiters = set()

# Iterate over the unique values
for value in unique_values:
    parts = re.split(',|;|/|-', value) # Split the value by commas and other delimiters
    delimiters.update(filter(lambda x: x != '', parts[1:])) # Add the delimiters to the set
# Print the identified delimiters
print(delimiters)

{' Big Data', ' Freight Service', ' Social', ' Speech Recognition', ' Incubators', ' Swimming', ' STEM Education', ' Farmers Market', ' Analytics', ' Oil and Gas', ' Micro Lending', ' Health Diagnostics', ' Machine Learning', ' Mobile Payments', ' Publishing', ' Environmental Consulting', ' Business Intelligence', ' Test and Measurement', ' Battery', ' Predictive Analytics', ' Blockchain', ' Financial Exchanges', ' Ticketing', ' Events', ' Media and Entertainment', ' Business Travel', ' Supply Chain Management', ' Home Health Care', ' Social Entrepreneurship', ' Virtual Reality', ' Social News', ' Hotel', ' AgTech', ' Internet of Things', ' TV', ' Diabetes', ' Consumer Lending', ' eSports', ' Nutrition', ' Professional Services', ' Recreational Vehicles', ' Smart Home', 'Learning', ' Graphic Design', ' Finance', ' Smart Building', ' SEM', ' Product Design', ' Reading Apps', 'Commerce Platforms', ' Consumer', ' Tourism', ' Fitness', ' Personal Finance', ' Web Development', ' Parenting', ' Navigation', ' Beauty', ' Web Apps', ' EBooks', ' CRM', ' Table Tennis', ' Search Engine', ' Venture Capital', ' Property Management', ' Ride Sharing', ' Drones', ' Shoes', ' Life Insurance', ' Sporting Goods', ' Wellness', ' Property Insurance', ' Mechanical Design', ' Information Technology', ' Financial Services', ' Video Streaming', ' Retail Technology', ' E', ' Business Information Systems', " Men's", ' Restaurants', ' PaaS', ' Virtual Assistant', ' Hospital', ' Energy Storage', ' Consulting', ' EdTech', ' Life Science', ' Data Visualization', ' Volley Ball', ' Location Based Services', ' Food Delivery', ' Facilities Support Services', ' Trading Platform', ' Travel Accommodations', ' Developer Platform', ' Home Services', ' Market Research', ' Public Safety', ' Human Resources', ' Embedded Systems', ' Natural Resources', ' Event Promotion', ' Natural Language Processing', ' Marketplace', 'Commerce', ' Hardware', ' Product Search', ' Sharing Economy', ' Solar', ' Knowledge Management', ' Marine Transportation', ' Computer', ' Digital Media', ' Internet Radio', ' Rental', ' News', ' Industrial Automation', ' Sports', ' Crowdfunding', ' Funding Platform', ' Productivity Tools', ' Social Media Marketing', ' Infrastructure', ' Organic', ' Rental Property', ' Shopping', ' Food and Beverage', ' Marketing', ' Organic Food', ' Skill Assessment', ' Secondary Education', ' Lending', ' Fraud Detection', ' Health Insurance', ' Collaboration', ' Network Security', ' Biometrics', ' Developer Tools', ' SEO', ' Golf', ' Risk Management', ' Coworking', ' Internet', ' Snack Food', ' Sponsorship', ' Travel', ' Cloud Computing', ' Peer to Peer', ' Mobile Apps', ' GreenTech', ' Health Care', ' Video Chat', ' Innovation Management', ' mHealth', ' Medical Device', ' Cosmetics', ' Manufacturing', ' Outdoors', ' Payments', ' Pharmaceutical', ' Training', ' Cycling', ' Laundry and Dry', ' Robotics', ' Messaging', ' Wearables', ' Service Industry', ' Renewable Energy', 'cleaning', ' B2B', ' Sales Automation', ' Telecommunications', ' Semiconductor', ' Impact Investing', ' Elder Care', ' Logistics', ' Loyalty Programs', ' Hospitality', ' Fashion', ' Business Development', ' InsurTech', ' Computer Vision', ' Gaming', ' Small and Medium Businesses', ' Enterprise', ' Product Research', ' Geospatial', ' PC Games', " Women's", ' Security', ' Cyber Security', ' Property Development', ' Marketing Automation', ' Artificial Intelligence', ' FinTech', ' Interior Design', ' Online Portals', ' Home Renovation', ' Home Improvement', ' Energy', ' Furniture', ' Home Decor', ' Management Information Systems', ' Shipping', ' Video on Demand', ' Taxi Service', ' Video Games', ' Communities', ' Insurance', ' SaaS', ' Reservations', ' Customer Service', ' Non Profit', ' Banking', ' Wireless', ' Outsourcing', ' Operating Systems', ' Higher Education', ' Farming', ' Retail', ' Software', ' Waste Management', ' Music', ' Music Streaming', ' Social Network', ' Hockey', ' Video', ' Tea', ' Medical', ' Network Hardware', ' Lifestyle', ' Wealth Management', ' Social Media', ' Packaging Services', ' Office Administration', ' Personalization', ' Personal Health', ' iOS', ' Electronics', ' Enterprise Software', ' Private Social Networking', ' Audio', ' Mobile', ' Cricket', ' Education', ' Digital Marketing', ' Electric Vehicle', ' Transportation', ' Food Processing', ' Image Recognition', ' CleanTech', ' Information Services', ' Last Mile Transportation', ' Apps', ' Railroad', ' Procurement', ' Real Estate', ' Leisure', ' Tutoring', ' Fantasy Sports', ' Jewelry'}

In [36]:
# keeping only the first unique vlaues in the Industry column
df['Industry'] = df['Industry'].str.split(',').str[0]

In [37]:
#converting the industry names in the column to title case
df['Industry'] = df['Industry'].str.title()

In [38]:
# checking if there are any leading or trailing spaces in the industry names in the 'Industry' column
has_spaces = df['Industry'].str.contains('^s|s$', regex=True)

rows_with_spaces = df[has_spaces]
print(rows_with_spaces)

                                       Company Name  \
3                                       PayMe India
4                                          Eunimart
8                                      Freightwalla
9                                Microchip Payments
12                                            Flock
19                 Antariksh Waste Ventures Pvt ltd
21                                       PaisaDukan
23                                         BlueJack
26                                            Pando
27                                          Mintifi
30                                     Chariot Tech
32                                          Loanzen
39                                       Kaleidofin
44                                        Letstrack
46                                            Finzy
47                                       Fitternity
59                                           Rooter
65                           Bombay Shaving Company
66                                         MedCords
76                                India Accelerator
78                                           Wishup
97                                    LetsTransport
103                           Nutrisattva (Proliva)
106                                 Vivriti Capital
107                                     Be U Salons
112                              Adiuvo Diagnostics
114                                       OneAssist
120                                    Dee Dee Labs
122                                         Shop101
128                          Olly Smart Credit Card
133                             Pentation Analytics
138                                       Wow Venue
142                                          Khabri
149                                           Quikr
150                                          Tabono
158                                     Go Payments
189                                          Rupeek
197                                      SectorQube
200              Silversparro Technologies Pvt. Ltd
201                               Creator’s Gurukul
220                                       Workflexi
221                                          Streak
222                                          Kuants
231                                   True Elements
232                          Trendlyne Technologies
234                                      HealthPlix
241                                           VTION
244                                     RupeeCircle
266                 Hashtag Loyalty Private Limited
274                                     NirogStreet
281                             Inntot Technologies
282                                    Zoctr Health
284                        DigiConnectt Technologys
290                                         Benepik
296                              Creditas Solutions
309                                       MCaffeine
311                                    HealthAssure
316                                             Nua
317                                       Kuvera.in
328                          Acko General Insurance
329                                      arzooo.com
334       Aashiyaan Housing and Development Finance
335          BetterPlace Safety Solutions Pvt. Ltd.
343                                         Wishfie
345                                      FreightBro
352                               Gaia Smart Cities
353                                      Square Off
354                                       UrbanClap
356                   Kogta Financial India Limited
359               Hush - Speak Up. Make Work Better
367                                       Paymatrix
377                                         Aldopay
380                                        CashRich
384                                         Yaantra
386                                     HealthifyMe
388                                         Perpule
393       Asset Reconstruction Company (India) Ltd.
394                               Med365 Healthcare
405                                          Mobycy
407                                Em Personal Care
410                                      GamingMonk
412                                       INDwealth
415                              Duroflex Pvt. Ltd.
420                             Indiabulls Ventures
423                                          Shuttl
424                                           GuruQ
429                                       Loans4SME
430                                    UpCyclersLab
433                                          LetsMD
438                    Vivish Technologies (myGate)
441                                 Veritas Finance
442                           Manjushree Technopack
448                                       Blackbuck
456                                         9stacks
458                                     YourOwnROOM
466                            Bounce (Metro Bikes)
468                                        Goals101
471                                       StockEdge
477                                      DailyNinja
479                                      Knocksense
485                                       NewsBytes
488                                          GoBolt
492                                             Ola
496                                            Myra
500                         Bon(Bonfleet Solutions)
503  Belstar Investment and Finance Private Limited
511                                         Dream11
515                                         Heelium

                        Industry              Round/Series        Amount  \
3             Financial Services                     Angel  2.000000e+06
4           E-Commerce Platforms                      Seed           NaN
8           Information Services                      Seed           NaN
9                Mobile Payments                      Seed           NaN
12                          Apps                      Seed           NaN
19            Internet Of Things                      Seed  6.063670e+03
21            Financial Services                      Seed  6.500000e+05
23           Autonomous Vehicles                      Seed  7.761503e+05
26                     Logistics                      Seed  2.000000e+06
27            Financial Services                      Seed  2.000000e+06
30            Internet Of Things                      Seed  2.425470e+05
32            Financial Services                      Seed           NaN
39            Financial Services                      Seed  2.800000e+06
44                          Apps                      Seed  1.700000e+06
46            Financial Services                      Seed  1.300000e+06
47                       Fitness                      Seed  2.000000e+06
59                        Sports                      Seed  5.457307e+05
65                Consumer Goods                  Series A           NaN
66                      Wellness                      Seed  3.201620e+05
76                   Communities                     Angel           NaN
78         Consumer Applications                      Seed           NaN
97                     Logistics                  Series B  1.212735e+07
103                      Fitness                     Angel           NaN
106           Financial Services  Venture - Series Unknown  2.850000e+07
107                         Apps                      Seed  3.638205e+05
112           Health Diagnostics                      Seed           NaN
114           Financial Services            Debt Financing  2.400000e+06
120             Embedded Systems                      Seed           NaN
122                         Apps                  Series B  1.100000e+07
128                 Credit Cards                      Seed           NaN
133         Information Services                      Seed           NaN
138                       Events  Venture - Series Unknown  1.500000e+06
142                         Apps                      Seed           NaN
149                  Classifieds            Debt Financing  6.670042e+06
150                       Sports                      Seed           NaN
158         Information Services           Corporate Round           NaN
189           Financial Services                  Series A  6.830000e+06
197         Consumer Electronics                      Seed           NaN
200                    Analytics                      Seed  3.000000e+05
201  Facilities Support Services                     Angel           NaN
220              Human Resources                      Seed  1.212735e+05
221           Financial Services                      Seed  2.728653e+05
222           Financial Services                      Seed  6.063674e+04
231          Dietary Supplements                      Seed  6.063674e+05
232           Financial Services                      Seed  2.000000e+05
234                      Fitness                  Series A  3.000000e+06
241                    Analytics                      Seed  2.328451e+05
244           Financial Services                      Seed  4.850939e+05
266                    Analytics                      Seed           NaN
274                         Apps                      Seed  3.000000e+05
281         Consumer Electronics                      Seed           NaN
282                         Apps                      Seed           NaN
284         Information Services                      Seed  1.250000e+05
290              Human Resources                      Seed           NaN
296           Financial Services                      Seed           NaN
309               Consumer Goods                      Seed  3.880752e+05
311                      Fitness                      Seed  1.000000e+06
316               Consumer Goods                      Seed           NaN
317           Financial Services                     Angel  2.500000e+05
328           Financial Services                  Series A  1.200000e+07
329         Consumer Electronics                      Seed  1.819102e+05
334           Financial Services                      Seed  1.637192e+06
335              Human Resources                  Series A  3.000000e+06
343                         Apps                      Seed           NaN
345                         Apps                      Seed           NaN
352                 Smart Cities                      Seed           NaN
353           Internet Of Things                      Seed  1.100000e+06
354                         Apps                  Series D  5.000000e+07
356           Financial Services                  Series B  1.867612e+07
359                  Communities                      Seed  5.457307e+05
367                 Credit Cards                      Seed  1.000000e+05
377              Mobile Payments                      Seed  2.000000e+05
380                         Apps                      Seed  1.000000e+06
384         Information Services            Debt Financing  2.000000e+06
386                         Apps                  Series B  6.000000e+06
388                         Apps                  Series A  4.123298e+06
393           Financial Services          Secondary Market           NaN
394           Health Diagnostics                      Seed  6.063674e+05
405                      Fitness                     Angel           NaN
407                    Cosmetics                      Seed           NaN
410                      Esports                  Series A  4.850939e+05
412           Financial Services                      Seed  2.668017e+07
415               Consumer Goods            Private Equity  2.200000e+07
420           Financial Services           Post-IPO Equity  1.866641e+08
423                         Apps            Debt Financing  1.000000e+06
424                 Reading Apps                      Seed  3.031837e+05
429           Financial Services                      Seed           NaN
430                         Apps                      Seed           NaN
433                      Fitness                      Seed  1.000000e+06
438                         Apps                  Series A  7.882776e+06
441           Financial Services  Venture - Series Unknown  3.000000e+07
442           Packaging Services            Private Equity           NaN
448         Information Services                  Series D  2.461367e+07
456                 Online Games                  Series A  3.395658e+06
458               Online Portals                      Seed  7.500000e+05
466          Autonomous Vehicles            Debt Financing  3.000000e+06
468           Financial Services                      Seed  3.500000e+06
471                    Analytics                      Seed  1.100000e+06
477                         Apps                  Series A           NaN
479                         News                      Seed           NaN
485                         Apps                      Seed  1.000000e+06
488                    Logistics  Venture - Series Unknown  4.850939e+06
492                         Apps  Venture - Series Unknown  5.000000e+07
496                         Apps  Venture - Series Unknown  1.061143e+05
500           Financial Services                      Seed  9.459332e+05
503           Financial Services  Venture - Series Unknown  2.800000e+07
511               Fantasy Sports                  Series D  1.000000e+08
515                      Fitness                      Seed           NaN

       Location                                      About Company  \
3         Noida  PayMe India is an innovative FinTech organizat...
4     Hyderabad  Eunimart is a one stop solution for merchants ...
8        Mumbai  Freightwalla is an international forwarder tha...
9     Bengaluru  Microchip payments is a mobile-based payment a...
12        India  Flock is a real-time messaging and collaborati...
19      Chennai                  Waste Management for Smart Cities
21       Mumbai                 A P2P lending marketplace platform
23        Delhi      Delhi-based online used vehicles marketplace.
26      Chennai  A startup which digitizes logistics operations...
27       Mumbai            Online lending startup based in Mumbai.
30        Delhi  Chariot Tech is an Internet of Things (IoT) st...
32    Bengaluru  Loanzen helps small businesses get unsecured w...
39      Chennai                                A fintech platform.
44        Delhi  Letstrack GPS tracking devices to track your k...
46    Bengaluru  finzy is the premier peer to peer lending solu...
47       Mumbai  India's largest online fitness platform that p...
59        India                  Rooter is a mobile-based platform
65        Delhi  Bombay Shaving Company is a Men's grooming sta...
66         Pune  Medcords is India’s first holistic healthcare ...
76      Gurgaon  India Accelerator runs mentorship-driven incub...
78      Azadpur                Premium Personal Assistance service
97    Bengaluru   Lets transport is a logistics solution provider.
103       Anand         Nutrisattva is a protein innovation compan
106     Chennai  Vivriti Capital is an online platform for inst...
107       Delhi  Be U is India's first subscription based Salon...
112     Chennai  Adiuvo Diagnostics is a medical diagnostic dev...
114      Mumbai  OneAssist is a protection & assistance service...
120        Pune  Dee Dee Labs is design and development lab wit...
122      Mumbai  #1 Online Selling App. India’s leading social ...
128       Delhi  Olly is a digital credit card for India's work...
133      Mumbai  Pentation as an Insurtech enables insurers and...
138      Mumbai                   Wow Venue is an online platform.
142     Haryana  Khabri is a digital audio platform for content...
149   Bengaluru  Quikr is a free classifieds and online marketp...
150     Gurgaon  Tabono is a one stop environment for all your ...
158      Mumbai  Go Payments was founded with the mission of as...
189   Bengaluru  Rupeek is an asset backed online lending platf...
197   Ernakulam  SectorQube develops smart kitchen devices that...
200     Gurgaon  Silversparro is a deep learning technology sol...
201     Gurgaon                        A coworking space provider.
220   Bengaluru  Be Smart, Work on Contract,Be Smart, Hire on C...
221   Bengaluru                      Algorithmic trading platform.
222     Gurgaon                      Algorithmic trading platform.
231        Pune  True elements offers a range of high-quality s...
232   Bengaluru  Trendlyne Technologies is a stock market analy...
234   Bengaluru                 HealthPlix is a healthtech startup
241     Gurgaon  VTION is a media technology innovation firm ai...
244      Mumbai          RupeeCircle is a new age finance company.
266      Mumbai  Hashtag Loyalty is a customer engagement and m...
274     Gurgaon  NirogStreet is an Ayurvedic doctor discovery a...
281       Kochi  Inntot Technologies, is a technology driven co...
282       Powai  Zoctr Health Network is a first-of-its kind pa...
284   Bengaluru  A technology company focused on introducing pr...
290     Gurgaon                            HR Technology start-up.
296     Gurgaon  Creditas was set-up in 2015 with an aim to hel...
309      Mumbai  MCaffeine is India's First Caffeine Infuse Per...
311      Mumbai  HealthAssure provides access to Discounted & H...
316      Mumbai  Nua is an e-commerce and feminine care brand p...
317   Bengaluru    An online platform for mutual fund investments.
328      Mumbai  Acko General Insurance is a digital insurance ...
329   Bengaluru  E-commerce website promising the best price on...
334     Kolkata  Provide housing finance to those in the inform...
335   Bengaluru  BetterPlace provides businesses with contracto...
343   Bengaluru  A platform for people to express their opinion...
345      Mumbai                   Software for the new-age freight
352      Mumbai  Gaia Smart Cities is an early leader in the ra...
353      Mumbai                             Delivering Imagination
354       Delhi  UrbanClap is India's leading managed marketpla...
356      Jaipur  Kogta Financial (India) Ltd is a retail-focuse...
359   Bengaluru    Enabling diversity of opinions in organizations
367   Hyderabad  India's Leading Property Rent management platform
377     Chennai  Mobile Wallet Focusing on hassle free checkout...
380      Mumbai                    A Mumbai-based fin-tech startup
384       Delhi  Yaantra, India’s leading mobile phone repair, ...
386   Bengaluru  HealthifyMe is an application that allows its ...
388   Bengaluru  Perpule is a self-checkout product for retail ...
393      Mumbai  Asset Reconstruction Company (India) Ltd. oper...
394      Jaipur  Wellness, Specialised Testing, Healthcare at Home
405     Gurgaon           India's 1st Dockless Bicycle Sharing App
407       Worli  Em Personal Care is a Cosmetic products manufa...
410       Delhi  GamingMonk is an eSports gaming company based ...
412     Gurgaon  INDwealth is an Artificial Intelligence (AI) p...
415    Alleppey  Duroflex Pvt. Ltd. operates as a dominant matt...
420      Mumbai  Indiabulls Ventures Limited is one of India’s ...
423     Gurgaon  Shuttl provides an app-based office shuttle se...
424       Delhi  A one of its kind digital integrated platform ...
429      Mumbai      Loans4SME is an alternative lending platform.
430      Mumbai  UpCyclersLab is a startup that makes sustainab...
433       Delhi  LetsMD.com is a marketplace for elective surge...
438   Bengaluru  India's leading mobile based security manageme...
441      Guindy  Veritas Finance has been promoted with a prima...
442   Bengaluru  Manjushree Technopack is a Rigid plastics pack...
448   Bengaluru   Blackbuck is a logistics startup based in India.

In [39]:
# remove the leading or trailing spaces from the industry names in the 'Industry' column
df['Industry'] = df['Industry'].str.strip()

In [40]:
# Replace '-' with NaN
df['Industry'].replace('-', np.nan, inplace=True)

In [41]:
df.head() # getting the first sample of the data set

,Company Name,Industry,Round/Series,Amount,Location,About Company,Indiancurr,UsCurr
0,TheCollegeFever,Brand Marketing,Seed,250000.00,Bengaluru,"TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000
1,Happy Cow Dairy,Agriculture,Seed,485093.94,Mumbai,A startup which aggregates milk from dairy far...,40000000.0,485094
2,MyLoanCare,Credit,Series A,788277.65,Gurgaon,Leading Online Loans Marketplace in India,65000000.0,788278
3,PayMe India,Financial Services,Angel,2000000.00,Noida,PayMe India is an innovative FinTech organizat...,0.0,2000000
4,Eunimart,E-Commerce Platforms,Seed,NaN,Hyderabad,Eunimart is a one stop solution for merchants ...,0.0,0

### Round/Series Column

In [42]:
df['Round/Series'].unique() # getting the unique values

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [43]:
df['Round/Series'].value_counts() # counting and returning the sum of all the values

Seed                                                                                                       279
Series A                                                                                                    73
Venture - Series Unknown                                                                                    37
Angel                                                                                                       37
Series B                                                                                                    20
Series C                                                                                                    16
Debt Financing                                                                                              13
Private Equity                                                                                              10
Corporate Round                                                                                              8
Pre-Seed                                                                                                     6
Series E                                                                                                     5
Grant                                                                                                        4
Series D                                                                                                     3
Post-IPO Equity                                                                                              3
Secondary Market                                                                                             3
Undisclosed                                                                                                  2
Post-IPO Debt                                                                                                2
Non-equity Assistance                                                                                        1
Funding Round                                                                                                1
https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593      1
Series H                                                                                                     1
Name: Round/Series, dtype: int64

In [44]:
df['Round/Series']=df['Round/Series'].replace('Undisclosed',np.nan)
df['Round/Series']=df['Round/Series'].replace('Venture - Series Unknown',np.nan)
df['Round/Series'] = df['Round/Series'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', 'nan')
df['Round/Series'] = df['Round/Series'].replace('nan', np.nan)

In [45]:
df['Round/Series'].unique() # getting the unique values

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', nan, 'Grant', 'Debt Financing', 'Post-IPO Debt',
       'Series H', 'Series C', 'Series E', 'Corporate Round', 'Series D',
       'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance',
       'Funding Round'], dtype=object)

In [46]:
df['Round/Series'].value_counts() # counting and returning the sum of all the values

Seed                     279
Series A                  73
Angel                     37
Series B                  20
Series C                  16
Debt Financing            13
Private Equity            10
Corporate Round            8
Pre-Seed                   6
Series E                   5
Grant                      4
Secondary Market           3
Series D                   3
Post-IPO Equity            3
Post-IPO Debt              2
Non-equity Assistance      1
Funding Round              1
Series H                   1
Name: Round/Series, dtype: int64

In [47]:
df.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company', 'Indiancurr', 'UsCurr'],
      dtype='object')

In [48]:
df.drop(columns=['Indiancurr','UsCurr'], inplace=True)

In [49]:
df.insert(6,"Funding Year", 2018)

In [50]:
df.rename(columns = {'Company Name':'Company',
                        'Industry':'Sector',
                        'Amount':'Amount',
                        'About Company':'About',
                        'Round/Series' : 'Stage'},
             inplace = True)

In [51]:
df.head()

,Company,Sector,Stage,Amount,Location,About,Funding Year
0,TheCollegeFever,Brand Marketing,Seed,250000.00,Bengaluru,"TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,Agriculture,Seed,485093.94,Mumbai,A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,Credit,Series A,788277.65,Gurgaon,Leading Online Loans Marketplace in India,2018
3,PayMe India,Financial Services,Angel,2000000.00,Noida,PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,E-Commerce Platforms,Seed,NaN,Hyderabad,Eunimart is a one stop solution for merchants ...,2018

In [52]:
df.to_csv('df18.csv', index=False)

#### 2019 Data

In [53]:
df2.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [54]:
df2.shape

(89, 9)

In [55]:
df2.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [56]:
df2.info() # Getting inforamation about the data2 dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [57]:
df2.describe(include='object') # getting General descriptive statistics of the data2 dataFrame

,Company/Brand,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
count,89,70,84,89,86,89,89,43
unique,87,17,52,88,85,86,50,15
top,Licious,Bangalore,Edtech,Online meat shop,"Vivek Gupta, Abhay Hanjura",Undisclosed,Undisclosed,Series A
freq,2,21,7,2,2,3,12,10

#### Handling Duplicated Data

In [58]:
columns_to_check2 = ['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage',]

for column2 in columns_to_check2:
    has_duplicates2 = df2[column2].duplicated().any()
    print(f'{column2}: {has_duplicates2}')

Company/Brand: True
Founded: True
HeadQuarter: True
Sector: True
What it does: True
Founders: True
Investor: True
Amount($): True
Stage: True

In [59]:
df2.drop_duplicates(subset=['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage',], inplace=True)

now we have some description about the data set, we can now move on with data cleaning
 
MISSING VALUES

In [60]:
missing_values2 = df2.isnull().sum() # looking for missing values in dataFrame 2
missing_values2

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

LET'S DEAL WITH THE MISSING VALUES FROM THE ABOVE OUTPUT

In [61]:
df2['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [62]:
df2['HeadQuarter']= df2['HeadQuarter'].str.replace('New Delhi','Delhi')
df2["HeadQuarter"] = df2["HeadQuarter"].replace (['Bangalore','Bangalore City','Belgaum'], 'Bengaluru')

In [63]:
df2['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bengaluru',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'Surat', 'Uttar pradesh', 'Hyderabad', 'Rajasthan'],
      dtype=object)

In [64]:
df2['Sector'].unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [65]:
df2['Stage'].unique()

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A'], dtype=object)

In [66]:
# Replacing specific values with NaN
df2['HeadQuarter'].replace('Not available', np.nan, inplace=True)

# Replacing empty strings with NaN
df2['Sector'].replace('', np.nan, inplace=True)
df2['Stage'].replace('', np.nan, inplace=True)

In [67]:
df2.isnull().sum() # let's check for null vlaues and sum them up

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

Standardizing Data Formats

now let's see how we can standardize tha data set to make sure we have the same format of data points

first let's check for dash symbols within the columns using a simple python function

In [68]:
# checking for '-' symbol within the columns

columns_to_check2 = ['Company/Brand', 'HeadQuarter', 'Sector', 'What it does', 'Amount($)', 'Stage']

for column2 in columns_to_check2:
    has_dash_symbols2 = df2[column2].astype(str).str.contains('-').any()
    print(f'{column2}: {has_dash_symbols2}')

Company/Brand: False
HeadQuarter: False
Sector: True
What it does: True
Amount($): False
Stage: True

In [69]:
# checking for currency symbol 

columns_to_check2 = ['Company/Brand','HeadQuarter', 'Sector', 'What it does', 'Amount($)']

for column2 in columns_to_check2:
    has_currency_symbols = df2[column2].astype(str).str.contains('[$₹]').any()
    print(f'{column2}: {has_currency_symbols}')

Company/Brand: False
HeadQuarter: False
Sector: False
What it does: False
Amount($): True

In [70]:
# replacing the '-' symbols using a simple function 

dash_currency_columns = ['Sector', 'What it does', 'Stage']

for dash_columns2 in dash_currency_columns:
    dash_replaced2 = df2[dash_columns2].replace('-', np.nan, inplace=True)

now let's handle the dash symbols in the Amount column, clean and format the amount the column correctly

In [71]:
df2['Amount($)'].unique() # let's check for unique values

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

In [72]:
# Cleaning the Amounts column & # removing the currency symbol in df_2019
df2['Amount($)'] = df2['Amount($)'].astype(str).str.replace('[\₹$,]', '', regex=True)
df2['Amount($)'] = df2['Amount($)'].str.replace('Undisclosed', '0', regex=True)
df2['Amount($)'].replace(",", "", inplace = True, regex=True)
df2['Amount($)'].replace("—", 0, inplace = True, regex=True)

In [73]:
df2['Amount($)'] = df2['Amount($)'].astype(float) # here we are converting the amount column to float data type 
type(df2['Amount($)'][0])

numpy.float64

In [74]:
df2['Amount($)'] # here we are looking at the Amount column

0       6300000.0
1     150000000.0
2      28000000.0
3      30000000.0
4       6000000.0
5             0.0
6             0.0
7       1000000.0
8      20000000.0
9     275000000.0
10            0.0
11     22000000.0
12      5000000.0
13       140500.0
14            0.0
15      5000000.0
16    540000000.0
17     15000000.0
18       182700.0
19            0.0
20      5000000.0
21     12000000.0
22     11000000.0
23            0.0
24     15500000.0
25      1500000.0
26      5500000.0
27      5000000.0
28     12000000.0
29      2500000.0
30     30000000.0
31       140000.0
32            0.0
33    230000000.0
34     20000000.0
35     49400000.0
36     32000000.0
37     26000000.0
38       150000.0
39       400000.0
40      2000000.0
41    100000000.0
42      8000000.0
43      1500000.0
44       100000.0
45            0.0
46     50000000.0
47      6000000.0
48    120000000.0
49      4000000.0
50     30000000.0
51      4000000.0
52      1500000.0
53      1000000.0
54            0.0
55            0.0
56     26000000.0
57      5500000.0
58      6800000.0
59      6000000.0
60     36000000.0
61      5700000.0
62     50000000.0
63      2000000.0
64      5000000.0
65            0.0
66       100000.0
67      5500000.0
68     25000000.0
69       600000.0
70      4000000.0
71      1500000.0
72     70000000.0
73     60000000.0
74      6000000.0
75            0.0
76       220000.0
77      2800000.0
78      2100000.0
79      7000000.0
80    311000000.0
81      4800000.0
82      1000000.0
83      1000000.0
84     20000000.0
85    693000000.0
86      5000000.0
87     50000000.0
88     33000000.0
Name: Amount($), dtype: float64

In [75]:
df2['Amount($)'].unique() # this line of code looks at the unique value

array([6.300e+06, 1.500e+08, 2.800e+07, 3.000e+07, 6.000e+06, 0.000e+00,
       1.000e+06, 2.000e+07, 2.750e+08, 2.200e+07, 5.000e+06, 1.405e+05,
       5.400e+08, 1.500e+07, 1.827e+05, 1.200e+07, 1.100e+07, 1.550e+07,
       1.500e+06, 5.500e+06, 2.500e+06, 1.400e+05, 2.300e+08, 4.940e+07,
       3.200e+07, 2.600e+07, 1.500e+05, 4.000e+05, 2.000e+06, 1.000e+08,
       8.000e+06, 1.000e+05, 5.000e+07, 1.200e+08, 4.000e+06, 6.800e+06,
       3.600e+07, 5.700e+06, 2.500e+07, 6.000e+05, 7.000e+07, 6.000e+07,
       2.200e+05, 2.800e+06, 2.100e+06, 7.000e+06, 3.110e+08, 4.800e+06,
       6.930e+08, 3.300e+07])

In [76]:
# Dropping the columns that are not important to our analysis

df2.drop(columns=['Founded','Founders','Investor'], inplace=True)

In [77]:
df2.insert(6,"Funding Year", 2019)

In [78]:
df2.rename(columns = {'Company/Brand':'Company',
                        'HeadQuarter':'Location',
                        'Amount($)':'Amount',
                        'What it does':'About'},
             inplace = True)

In [79]:
df2.head()

,Company,Location,Sector,About,Amount,Stage,Funding Year
0,Bombay Shaving,NaN,Ecommerce,Provides a range of male grooming products,6300000.0,NaN,2019
1,Ruangguru,Mumbai,Edtech,A learning platform that provides topic-based ...,150000000.0,Series C,2019
2,Eduisfun,Mumbai,Edtech,It aims to make learning fun via games.,28000000.0,Fresh funding,2019
3,HomeLane,Chennai,Interior design,Provides interior designing solutions,30000000.0,Series D,2019
4,Nu Genes,Telangana,AgriTech,"It is a seed company engaged in production, pr...",6000000.0,NaN,2019

In [80]:
df2.to_csv('df_19.csv', index=False)

### 2020 Data

In [81]:
df3.head() #showing the first five rows

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [82]:
df3.info() # Get inforamation about the df3 dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [83]:
df3.columns #accessing specific columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [84]:
df3.describe(include='object') # Getting general descriptive statistics of the data2 dataFrame

,Company_Brand,HeadQuarter,Sector,What_it_does,Founders,Investor,Stage,column10
count,1055,961,1042,1055,1043,1017,591,2
unique,905,77,302,990,927,848,42,2
top,Zomato,Bangalore,Fintech,Provides online learning classes,Byju Raveendran,Venture Catalysts,Series A,Seed Round
freq,6,317,80,4,6,20,96,1

In [85]:
df3.describe(include='float') # Getting general descriptive statistics for float columns

           Founded        Amount
count   842.000000  8.010000e+02
mean   2015.363420  1.130430e+08
std       4.097909  2.476635e+09
min    1973.000000  1.270000e+04
25%    2014.000000  1.000000e+06
50%    2016.000000  3.000000e+06
75%    2018.000000  1.100000e+07
max    2020.000000  7.000000e+10

#### Handling Duplicated Data

In [86]:
columns_to_check3 = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage']
for column2 in columns_to_check3:
    has_duplicates2 = df3[column2].duplicated().any()
    print(f'{column2}: {has_duplicates2}')

Company_Brand: True
Founded: True
HeadQuarter: True
Sector: True
What_it_does: True
Founders: True
Investor: True
Amount: True
Stage: True

In [87]:
df3.drop_duplicates(subset=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'], inplace=True)

#### Handling Categorical Data

In [88]:
df3.isna().sum() #looking for missing values in dataFrame 2

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            253
Stage             462
column10         1050
dtype: int64

In [89]:
df3['HeadQuarter'].unique() #displaying the unique values found in the 'HeadQuarter' column.

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli, Tamilnadu', 'Thane', None,
       'Singapore', 'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'Patna', 'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Cochin', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Chandigarh', 'Warangal',
       'Hyderebad', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'Uttar Pradesh', 'Bhopal', 'Banglore', 'Coimbatore', 'Bengaluru'],
      dtype=object)

In [90]:
df3['HeadQuarter']= df3['HeadQuarter'].str.replace('New Delhi','Delhi')
df3["HeadQuarter"] = df3["HeadQuarter"].replace (['Bangalore','Bangalore City'], 'Bengaluru')

In [91]:
df3["column10"].value_counts() # Calculate the frequency count of unique values in the "Amount" column

Seed Round    1
Pre-Seed      1
Name: column10, dtype: int64

In [92]:
df3[df3['column10'].isin(['Pre-Seed','Seed Round'])] #checking if the values in the 'column10' column match either 'Pre-Seed' or 'Seed Round'.

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
611,Walrus,2019.0,Bengaluru,Fintech,It provides banking solutions for teens and yo...,"Bhagaban Behera, Sriharsha Shetty, Nakul Kelkar",Better Capital,NaN,Pre-Seed,Pre-Seed
613,goDutch,NaN,Mumbai,Fintech,Group Payments platform,"Aniruddh Singh, Riyaz Khan, Sagar Sheth","Matrix India, Y Combinator, Global Founders Ca...",1700000.0,Seed Round,Seed Round

In [93]:
df3['Sector'].unique

<bound method Series.unique of 0                                 AgriTech
1                                   EdTech
2                       Hygiene management
3                                   Escrow
4                                 AgriTech
5                                 AgriTech
6                                   EdTech
7                      Networking platform
8                                  FinTech
9                            Crowdsourcing
10                        Food & Bevarages
11                              HealthTech
12                         Fashion startup
13                        Food & Bevarages
14                           Food Industry
15                           Food Delivery
16                Virtual auditing startup
17                              E-commerce
18                                 FinTech
19                                 FinTech
20                                  Gaming
21                                 FinTech
22                                 FinTech
23                        Work fulfillment
24                                 FinTech
25                                 FinTech
26                              AI startup
27                       Telecommunication
28                           Food Industry
29                              E-commerce
30                                AgriTech
31                               Logistics
32                                 FinTech
33                                  EdTech
34                            Tech Startup
35                                  Sports
36                              E-commerce
37                              E-commerce
38                                  Retail
39                                 Medtech
40                         Tyre management
41                                 FinTech
42                           Cloud company
43                        Software company
44                      Venture capitalist
45                        Renewable player
46                                 FinTech
47                                  EdTech
48                             IoT startup
49                            SaaS startup
50                                 FinTech
51                              HealthTech
52                              HealthTech
53                            Aero company
54                       Marketing company
55                          Retail startup
56                                 FinTech
57                                  EdTech
58                      Co-working Startup
59                               Logistics
60                         Finance company
61                                 FinTech
62                                AgriTech
63                            Tech company
64                Solar Monitoring Company
65                            SaaS startup
66                  Video sharing platform
67                          Gaming startup
68                              E-commerce
69                Video streaming platform
70                     Consumer appliances
71                              E-commerce
72                                 FinTech
73                                  EdTech
74                          Gaming startup
75                              HealthTech
76                      Blockchain startup
77              Conversational AI platform
78                              E-commerce
79                                AgriTech
80                             Real Estate
81                      Venture capitalist
82                              E-commerce
83                                  EdTech
84                         Finance company
85                         Finance company
86                           SaaS platform
87                                  EdTech
88                           SaaS platform
89                             AI platform
90                                  EdTech
91                                  EdTech
92                        Fusion beverages
93                                 HR Tech
94                                  Gaming
95                              Job portal
96                             Hospitality
97                              Job portal
98                           Digital Media
99                                 FinTech
100                                FinTech
101                             AI startup
102                          Dairy startup
103                     Content management
104                                 Retail
105                              Spacetech
106                             HealthTech
107                         Transportation
108                       Trading platform
109                                FinTech
110                           Tech company
111                                FinTech
112                             AI Company
113                           Tech company
114                      Photonics startup
115                                FinTech
116                                 EdTech
117                                 EdTech
118                             HealthTech
119                          Entertainment
120                              Cosmetics
121                           Scanning app
122                                FinTech
123                       Skincare startup
124                                 EdTech
125                             E-commerce
126                     Food and Beverages
127                             AI startup
128                                 EdTech
129                  Biotechnology company
130                             AI startup
131                         Gaming startup
132                                FinTech
133                             HealthTech
134                             E-commerce
135                         Gaming startup
136                                FinTech
137                               FoodTech
138                               Proptech
139                             HealthTech
140                              CleanTech
141                           SaaS startup
142                             HealthTech
143                           Tech Startup
144                          SaaS platform
146                                FinTech
147                             E-commerce
148                        Fitness startup
149                              Cosmetics
150                     Venture capitalist
151                                FinTech
152                             Healthcare
153                           SaaS startup
154                             E-commerce
155                                FinTech
156                             HealthTech
157                               AgriTech
158                           PaaS startup
159                          Entertainment
160                                 EdTech
161                                 Retail
162                              Beverages
163                             HealthTech
164                                 EdTech
165                             E-commerce
166                           Social Media
167                            Automobiles
168                           SaaS startup
169                                FinTech
170                        Fashion startup
171                                 EdTech
172                       Food & Bevarages
173                               Deeptech
174                             EV startup
175                                 EdTech
176                                 EdTech
177                          AR/VR startup
178                             E-commerce
179                    Recruitment startup
180                             HealthTech
181                            QSR startup
182                         Video platform
183                       Food & Bevarages
184                                 EdTech
185                                 EdTech
186                             AI startup
187                              Logistics
188                                 Gaming
189                             AI startup
190                            Hospitality
191                               AgriTech
192                                FinTech
193                               AgriTech
194                               AgriTech
195                             E-commerce
196                                FinTech
197                         Transportation
198                                FinTech
199                                 Edtech
200                             E-commerce
201                         Fertility tech
202                                FinTech
203                     Luxury car startup
204                             Healthcare
206                             E-commerce
207                         Gaming startup
208                              Cosmetics
209                                     FM
210                             Healthcare
211                             E-commerce
212                                 Retail
213                             E-commerce
214                                   Food
215                                 Edtech
216                       Nutrition sector
217                               AgriTech
218                                FinTech
219                          Tech platform
220                             Healthcare
221                                  Video
222                            Retail Tech
223                           Tech company
224                                FinTech
225                             AI startup
226                              Cosmetics
227                                FinTech
228                                 Edtech
229                             AI startup
230                                 Edtech
231                                Medtech
232                              HeathTech
233                                 Edtech
234                            Automobiles
235                           Social Media
236                         Retail startup
237                                 Gaming
238                                Medtech
239                                 Retail
240                     Sles and marketing
241                              LegalTech
242                                 Edtech
243                           SaaS startup
244                            Car Service
245                             E-commerce
246                           Tech Startup
247                               FoodTech
248                           Tech Startup
249                       Bike marketplace
250                              Agri tech
251                            Automobiles
252                        Fitness startup
253                               FoodTech
254                       Food & Bevarages
255                           Tech Startup
256                            Real Estate
257                           SaaS startup
258                         Reatil startup
259                            AR platform
260                             EV startup
261                                FinTech
262                               Deeptech
263                              LegalTech
264                                FinTech
265                         Consumer Goods
266                             AI startup
267                                FinTech
268                          Food Industry
269                          Food Industry
270                    Content marketplace
271                        Interior Design
272                             Healthcare
273                             Healthcare
274                           Tech company
275                               AgriTech
276                                 Edtech
277                                FinTech
278                                FinTech
279                           SaaS startup
280                                 Retail
281                                 Edtech
282                             AI startup
283                           Rental space
284                               AgriTech
285                              Soil-Tech
286                    Recruitment startup
287                             AI startup
288                                FinTech
289                                 Edtech
290                          Ayurveda tech
291             Packaging solution startup
292                           SaaS startup
293                                 Gaming
294                            Hospitality
295                              Cleantech
296                           Social Media
297                              LegalTech
298                                 Gaming
299                   Sanitation solutions
300                           SaaS startup
301                           Tech company
302                             E-commerce
303                                 Edtech
304                               AgriTech
305                           Tech company
306                             HealthCare
307                                FinTech
308                             E-commerce
309                             E-commerce
310                             HealthCare
311                            Home Design
312                             InsureTech
313                               AgriTech
314                             AI Startup
315                           Tech Startup
316                          Entertainment
317                           Tech company
318                           Tech company
319                                 EdTech
320                          Entertainment
321                         Solar solution
322                             E-commerce
323                                FinTech
324                                FinTech
325                             HealthCare
326                                 EdTech
327                      Jewellery startup
328     Multinational conglomerate company
329                                FinTech
330                       Deeptech startup
331                         Social Network
332                            Publication
333                            Publication
334                          Entertainment
335                          SaaS platform
336                                   Tech
337                           Tech Startup
338                             HealthTech
339                                   Food
340                                Fashion
341                                Finance
342                                Finance
343                                Finance
344                                 EdTech
345                            Real Estate
346                        Venture capital
347                        Entreprenurship
348                         Food devlivery
349                           Tech Startup
350                          Entertainment
351                               AgriTech
352                              Cosmetics
353                              Warehouse
354                               AgriTech
355                              Logistics
356               Online financial service
357                             Eyeglasses
358                         Battery design
359       Online credit management startup
360                               Beverage
361                           Tech Startup
363                             HealthCare
364                             E-commerce
365                                 EdTech
366                            Car Service
367                         Food devlivery
368                           SaaS startup
369                                   Tech
370                             TravelTech
371                        Fitness startup
372                             E-commerce
373                           Tech company
374                                 EdTech
375                             E-commerce
376                             EV startup
377                                 EdTech
378                                 EdTech
379                                 EdTech
380                           SaaS startup
381                             E-commerce
382                            Agriculture
383                     Startup laboratory
384                          Food Industry
385                                FinTech
386                           Tech Startup
387                             E-commerce
388                             HealthTech
389                          Entertainment
390                               AgriTech
391                           SaaS startup
392                  Personal care startup
393                                FinTech
394                           Tech Startup
395                                FinTech
396                          Entertainment
397                           SaaS startup
398               Customer service company
399                          SaaS  startup
400                           Tech Startup
401                      Marketing startup
402                       Service industry
403                           Social media
404                                     AI
405                              Jewellery
406                            Hospitality
407                           Tech Startup
408                             AR startup
409                        HR Tech startup
410                     Automotive Startup
411                           Food Startup
412                             HealthCare
413                            Publication
414                                FinTech
415                        Fitness startup
416                         EdTech Startup
417                             E-commerce
418                         EdTech Startup
419                           Tech Startup
420                                   Tech
421                                Finance
422                                 EdTech
423                              Car Trade
424                                EdtTech
425                          Manufacturing
426                                 EdTech
427                             Job portal
428                                   Tech
429                                   Tech
430                            AI Platform
431                            Home Design
432                             Automation
433                                 Gaming
434                             Solar SaaS
435                    WL & RAC protection
436                        Social commerce
437                               AgriTech
438                           SaaS startup
439                 Home interior services
440                                Fashion
441                                Finance
442                         EdTech Startup
443                       Agritech startup
444                           API platform
445                              Deep Tech
446                         EdTech Startup
447                            Electricity
448                     Automotive company
449                          Entertainment
450                                   FMCG
451                                FinTech
452                                FinTech
453                         Insurance Tech
454                                 EdTech
455                                 EdTech
456                  Video personalization
457                       Software Company
458                                FinTech
459                                FinTech
460                                 Gaming
461                    Biomaterial startup
462                        Venture capital
463                                 Health
464                                     IT
465                                Finance
466                             Craft Beer

In [94]:
df3['Stage'].unique

<bound method Series.unique of 0                        None
1                    Pre-seed
2                    Pre-seed
3                        None
4                        None
5                        Seed
6                Pre-series A
7                  Pre-series
8                    Series C
9                Pre-series A
10                   Series A
11                   Series A
12                       None
13                       None
14                       None
15                       None
16                       None
17                   Series C
18                       None
19                       None
20               Pre-series A
21                       None
22                       None
23                       None
24                       None
25                   Series B
26                       None
27                       None
28                   Pre-seed
29                       None
30                   Series B
31                       None
32                       None
33               Pre-series A
34                       Seed
35               Pre-series A
36                       Seed
37                       Seed
38                   Series B
39                       None
40                       None
41                       None
42                       None
43                   Series A
44                       None
45                       None
46                       None
47                       Seed
48                   Series B
49               Pre-series A
50                       None
51                       Seed
52                   Pre-seed
53                       Seed
54                       Seed
55                       Seed
56                       None
57                       None
58                       Seed
59                       None
60                       None
61                       None
62                       None
63                       None
64                       Seed
65                       Seed
66                       None
67                       Seed
68                       None
69                       Seed
70                   Series B
71                   Series C
72                       None
73                   Series C
74                       Seed
75               Pre-series A
76                       Seed
77                   Series A
78                       None
79                       Debt
80                   Series B
81                       None
82               Pre-series C
83                       Seed
84                   Series C
85                       None
86                       None
87                       Seed
88                       Seed
89                       None
90                       None
91                       None
92               Pre-series A
93                   Pre-seed
94                   Series B
95                       None
96                       Seed
97               Pre-series B
98                       Seed
99                   Series B
100              Pre-series A
101                      Seed
102                  Series C
103                  Series A
104                  Series E
105                      None
106                    Bridge
107                  Series A
108                      None
109              Pre-series A
110                      None
111              Pre-series A
112                  Series A
113                      None
114                      None
115              Pre-series A
116                      None
117              Pre-series A
118                      None
119                      None
120                      None
121                      None
122                      None
123                      Seed
124                      None
125                      None
126                  Series C
127                      Seed
128                      None
129                      Seed
130              Pre-series A
131                  Series A
132                      None
133                      None
134              Pre-series A
135                      None
136                      None
137              Pre-series A
138              Pre-series A
139                      None
140                  Series C
141                      None
142              Pre-series A
143                      None
144                      Debt
146                      Debt
147                      Seed
148              Pre-series A
149              Pre-series A
150                      None
151                      None
152                      None
153              Pre-series A
154                      None
155                      Seed
156                      None
157                  Pre-seed
158                      Seed
159                      Seed
160                      Seed
161              Pre-series A
162                      Seed
163                      None
164                      Seed
165                      None
166                      None
167                  Series D
168                      None
169                      None
170                      None
171                      None
172              Pre-series A
173                      None
174              Pre-series A
175                    Bridge
176                      Debt
177                    Bridge
178              Pre-series A
179                      Seed
180                      Seed
181                      None
182                      None
183                      None
184                      None
185                      None
186                      None
187                      None
188                      None
189                      None
190                      None
191              Pre-series A
192                      Debt
193                      None
194              Pre-series A
195                  Series C
196                      None
197                      Seed
198                      None
199                      Seed
200                      None
201                  Pre-seed
202                      Seed
203                      None
204              Pre-series A
206                 Series B2
207                      None
208                  Series B
209                  Series A
210                    Bridge
211                      None
212                 Series B2
213                      None
214                      None
215                      None
216                      None
217                      Debt
218                      Seed
219                  Series B
220              Pre-series A
221                  Series A
222                  Series A
223                      Seed
224                      Seed
225                      None
226                      Debt
227                      None
228                  Series A
229                  Series C
230                      None
231                      Seed
232                      Seed
233                      None
234                  Series B
235                      None
236              Pre-series A
237                      Seed
238              Pre-series A
239                      None
240                      None
241                      None
242                      Seed
243                      Seed
244                      Seed
245                  Series A
246                      None
247                      None
248                      Seed
249                      None
250                      Seed
251                      None
252                  Pre-seed
253                  Pre-seed
254              Pre-series A
255              Pre-series B
256                  Pre-seed
257                      Seed
258              Pre-series A
259                  Series A
260                      None
261                      None
262                      None
263                      Seed
264                      Seed
265                      None
266              Pre-series B
267                  Series D
268                      None
269                      Debt
270                  Series A
271                      Debt
272                      Seed
273                      None
274                      None
275              Pre-series A
276              Pre-series B
277                      Seed
278                      Seed
279                  Series F
280                      None
281                      None
282                      None
283                      Seed
284                  Series A
285                      Seed
286                      Seed
287                    Bridge
288                  Series A
289                      None
290              Pre-series A
291                  Pre-seed
292              Pre-series A
293                      Seed
294                      None
295                  Series A
296                      None
297                      Seed
298                      Seed
299                      None
300                  Series B
301                      None
302                      None
303                      None
304                      None
305                      None
306                      None
307                      None
308                      None
309                      None
310                      None
311                      None
312                      None
313                      None
314                      None
315                      None
316                      None
317                      None
318                      None
319                      None
320                      None
321                      None
322                      None
323                      None
324                      None
325                      None
326                      None
327                      None
328                      None
329                      None
330                      None
331                      None
332                      None
333                      None
334                      None
335                      None
336                      None
337                      None
338                      None
339                      None
340                      None
341                      None
342                      None
343                      None
344                      None
345                      None
346                      None
347                      None
348                      None
349                      None
350                      None
351                      None
352                      None
353                      None
354                      None
355                      None
356                      None
357                      None
358                      None
359                      None
360                      None
361                      None
363                      None
364                      None
365                      None
366                      None
367                      None
368                      None
369                      None
370                      Seed
371              Pre-series A
372              Pre-series A
373                  Series A
374              Pre-series A
375                      Debt
376                  Series A
377                      Seed
378                      Seed
379                  Series A
380              Pre-series A
381              Pre-series A
382                      Debt
383                      Seed
384                  Series B
385                  Series B
386                      Debt
387                  Series A
388                      Debt
389              Pre-series A
390                  Series C
391                      Seed
392                  Series B
393                      Debt
394              Pre-series A
395                      Seed
396                  Series C
397                      Seed
398                  Series B
399                      Seed
400             Pre- series A
401                      Seed
402                  Series C
403              Pre-series C
404                      Seed
405                      Debt
406                  Series B
407                      Edge
408              Pre-series A
409                      Seed
410                      Debt
411              Pre-series A
412                  Series B
413                      Seed
414                  Series A
415              Pre-series A
416                      Seed
417                  Series B
418                      Seed
419                  Series A
420                  Series B
421                      Debt
422                  Series D
423                  Series H
424                  Series C
425                  Series C
426                  Series B
427                  Series A
428                  Series A
429                  Series E
430                  Series A
431                  Series D
432                  Series B
433                  Series B
434                  Series A
435                      Seed
436                      Seed
437              Pre-series A
438                      Seed
439                    Bridge
440                  Series B
441                      Debt
442              Pre-Series B
443                  Series C
444                  Series A
445                  Series A
446                  Series A
447              Pre-series A
448              Pre-series A
449                  Series B
450                    Seed A
451              Pre-series A
452                  Series C
453              Pre-series A
454                Series A-1
455                      Seed
456                  Series A
457                  Series B
458                      Seed
459              Pre-Series B
460                  Series A
461              Pre-series A
462              Seed Funding
463                      None
464                  Series A
465                  Series C
466                      None
467                      None
468                      None
469                  Series A
470                      None
471                      None
472                      None
473                      None
474                  Series B
475                      None
476                      None
477                      None
478                      None
479                  Pre-Seed
480                      None
481                      None
482                      None
483                  Series A
484                  Series A
485                      None
486                      None
487                      None
488                Seed round
489                      None
490                      None
491              Pre-series A
492                Seed round
493            Pre-seed Round
494                      None
495                  Series B
496                      None
497     Seed Round & Series A
498                Seed round
499                      None
500              Pre Series A
501                      None
502                  Series C
503                  Series A
504              Pre Series A
505                      None
506                Seed round
507            Pre seed Round
508              Pre Series A
509                      None
510                      None
511                Seed round
512                  Series A
513                  Series A
514                  Series A
515              Pre Series A
516               Angel Round
517                  Series D
518                  Series A
519                      None
520              Pre Series A
521              Pre Series A
522                Seed round
523                  Series D
524                  Series C
525                      None
526                  Series A
527                      None
528                Seed round
529                      None
530                Seed round
531             Pre series A1
532                      None
533              Pre Series A
534              Pre Series A
535                      None
536                Seed round
537               Angel Round
538                 Series E2
539                  Series A
540              Pre series A
541                Seed Round
542                      None
543                      None
544                Seed Round
545                      None
546              Bridge Round
547                      None
548                      None
549                  Series D
550                Seed Round
551                      None
552                      None
553                Seed Round
554                      None
555              Pre series A
556                      None
557              Pre series A
558                      None
559                  Series C
560                      None
561                Seed Round
562              Pre series A
563                  Series A
564                      None
565              Pre series A
566                      None
567                Seed Round
568                  Series D
569                  Series D
570                      None
571              Pre series A
572                      None
573                      None
574                      None
575                      None
576              Pre series A
577                Seed Round
578                      None
579                Seed Round
580                  Series A
581              Pre series A
582                      None
583              Pre series A
584                      None
585            Pre seed round
586                  Series B
587                      None
588                      None
589                Seed Round
590                      None
591                Seed Round
592                      None
593                  Series A
594                  Series C
595              Pre series A
596                      None
597                  Series E
598                      None
599                      None
600                Seed Round
601                      None
602                Seed Round
603                      None
604                Seed Round
605                      None
606              Pre series A
607                  Series A
608              Pre series B
609                  Series C
610              Pre series A
611                  Pre-Seed
612                      None
613                Seed Round
614                Seed Round
615            Pre-seed Round
616                      None
617              Pre series C
618                      None
619              Pre series B
620              Pre series A
621                      None
622                  Series A
623                  Series E
624           Seed Investment
625                      None
626                      None
627                      None
628                      None
629                  Series B
630                      None
631                      None
632                  Series B
633              Pre series A
634                      None
635                Seed Round
636                      None
637              Pre series A
638                      None
639                      None
640                      None
641                      None
642                Seed Round
643                Seed Round
644                  Series C
645                      None
646                  Series C
647                  Series A
648                  Series C
649                      None
650                  Series C
651                      None
652               Angel Round
653                      None
654                      None
655                  Series B
656                  Series A
657                      None
658                  Series A
659                      None
660                      None
661              Pre series A
662                  Series A
663                 Series D1
664                      None
665                Seed Round
666              Pre series A
667                      None

In [95]:
df3["Amount"].value_counts()# Calculate the frequency count of unique values in the "Amount" column

1.000000e+06    53
2.000000e+06    39
3.000000e+06    27
5.000000e+06    24
5.000000e+05    22
1.000000e+07    18
1.500000e+06    16
4.000000e+06    14
3.000000e+07    13
6.000000e+06    13
6.000000e+05    13
1.500000e+07    13
3.000000e+05    11
8.000000e+06    11
4.000000e+05    11
7.000000e+06    10
2.000000e+05    10
2.500000e+06    10
1.000000e+08     9
2.000000e+07     9
2.500000e+07     8
1.000000e+05     8
8.000000e+05     7
1.100000e+07     7
1.100000e+06     7
5.500000e+06     6
5.000000e+07     6
3.500000e+06     6
7.500000e+06     6
1.200000e+07     5
4.000000e+07     5
9.000000e+06     5
4.500000e+06     5
1.300000e+06     5
2.500000e+05     5
1.700000e+06     5
2.000000e+08     5
1.200000e+06     5
2.800000e+07     4
1.600000e+07     4
1.500000e+08     4
5.500000e+07     4
1.800000e+07     4
3.400000e+05     4
2.100000e+07     4
1.400000e+06     4
6.000000e+07     4
7.500000e+05     4
1.500000e+05     4
3.500000e+07     4
5.200000e+06     3
7.000000e+05     3
2.300000e+06     3
1.600000e+06     3
6.500000e+05     3
1.900000e+07     3
4.300000e+06     3
9.000000e+05     3
1.270000e+04     3
2.200000e+06     3
3.400000e+06     3
1.600000e+05     2
2.000000e+04     2
5.400000e+06     2
3.200000e+07     2
3.900000e+06     2
5.100000e+06     2
8.000000e+07     2
2.400000e+07     2
5.600000e+05     2
7.500000e+07     2
4.700000e+06     2
1.050000e+06     2
4.090000e+04     2
4.200000e+06     2
2.200000e+05     2
6.800000e+06     2
3.300000e+06     2
3.200000e+06     2
2.300000e+07     2
1.250000e+07     2
6.200000e+07     2
1.137000e+07     2
1.300000e+07     2
5.060000e+06     2
1.550000e+07     2
9.000000e+07     2
2.100000e+06     2
1.402000e+06     1
7.920000e+05     1
2.960000e+08     1
4.050000e+06     1
2.004000e+06     1
6.609000e+06     1
4.500000e+07     1
2.200000e+09     1
1.675300e+07     1
6.700000e+06     1
3.300000e+05     1
4.049500e+06     1
8.040000e+05     1
3.148000e+06     1
6.273000e+05     1
7.400000e+07     1
2.480000e+05     1
3.964000e+06     1
8.400000e+07     1
2.860000e+05     1
2.650000e+07     1
8.043000e+06     1
2.600000e+06     1
2.800000e+06     1
3.290000e+05     1
9.500000e+06     1
2.400000e+05     1
1.850000e+07     1
6.500000e+06     1
1.250000e+08     1
2.665000e+05     1
2.150000e+07     1
9.900000e+06     1
9.200000e+05     1
9.710000e+05     1
5.600000e+07     1
2.800000e+05     1
5.070000e+05     1
5.900000e+06     1
8.870000e+05     1
5.100000e+07     1
9.400000e+06     1
4.400000e+07     1
7.800000e+06     1
4.900000e+06     1
2.160000e+07     1
1.163500e+07     1
7.200000e+06     1
1.397000e+06     1
4.300000e+07     1
1.130000e+08     1
4.670000e+05     1
5.600000e+06     1
1.020000e+06     1
2.530000e+06     1
1.065000e+06     1
6.820000e+05     1
1.862000e+06     1
2.320000e+05     1
2.930000e+05     1
1.700000e+08     1
1.750000e+05     1
1.402400e+06     1
4.590000e+05     1
1.410000e+06     1
1.830000e+07     1
1.100000e+08     1
1.150000e+05     1
2.700000e+06     1
6.082000e+06     1
1.230000e+08     1
3.344000e+06     1
8.800000e+06     1
4.250000e+07     1
5.967000e+06     1
1.180000e+08     1
4.100000e+05     1
4.200000e+05     1
8.000000e+08     1
2.200000e+07     1
8.031460e+05     1
2.920000e+05     1
2.250000e+08     1
1.425900e+07     1
1.340000e+06     1
1.380000e+07     1
3.700000e+06     1
5.430000e+05     1
6.496000e+05     1
4.000000e+04     1
1.220000e+08     1
2.743000e+06     1
1.050000e+08     1
1.360000e+05     1
2.298000e+05     1
4.257000e+06     1
2.640000e+05     1
7.640000e+05     1
3.226000e+06     1
7.975700e+06     1
5.305000e+06     1
5.300000e+05     1
7.000000e+08     1
1.320000e+07     1
8.090000e+06     1
3.510000e+05     1
1.136300e+07     1
7.000000e+10     1
2.980000e+06     1
1.330000e+05     1
5.750000e+05     1
4.500000e+05     1
4.676100e+07     1
1.834000e+06     1
9.825300e+05     1
1.200000e+05     1
1.750000e+06     1
2.670000e+05     1
7.018520e+07     1
5.000000e+08     1
2.450000e+07     1
8.500000e+06     1
2.380000e+05     1
3.498000e+05     1
4.485000e+05     1
5.400000e+07     1
1.970000e+05     1
4.700000e+05     1
6.700000e+05     1
9.750000e+07     1
7.700000e+06     1
1.906733e+07     1
4.800000e+05     1
4.300000e+04     1
1.340000e+07     1
3.900000e+08     1
1.030000e+06     1
2.385000e+07     1
1.030000e+08     1
1.313700e+07     1
1.050000e+07     1
8.200000e+06     1
2.470000e+07     1
1.022000e+07     1
1.470000e+06     1
4.327000e+06     1
5.400000e+04     1
3.800000e+06     1
2.250000e+06     1
3.250000e+05     1
1.326000e+06     1
5.200000e+07     1
1.980000e+05     1
5.271000e+06     1
1.450000e+08     1
3.600000e+05     1
1.124100e+07     1
2.750000e+05     1
5.940000e+06     1
3.900000e+07     1
2.100000e+08     1
3.300000e+07     1
2.888000e+06     1
3.060000e+06     1
7.900000e+05     1
1.810000e+05     1
3.879000e+06     1
8.700000e+06     1
9.340000e+05     1
3.500000e+05     1
1.328000e+06     1
4.100000e+06     1
5.660000e+06     1
4.800000e+06     1
7.860000e+05     1
2.879000e+06     1
6.030000e+05     1
3.230000e+05     1
4.090000e+05     1
4.370000e+07     1
6.852500e+07     1
2.110000e+06     1
1.210000e+08     1
1.261830e+07     1
1.760000e+08     1
6.600000e+08     1
1.837000e+07     1
3.069000e+05     1
2.813000e+05     1
1.715000e+06     1
1.150000e+08     1
1.100000e+05     1
1.313500e+06     1
3.823000e+06     1
1.080000e+06     1
2.770000e+07     1
6.690000e+05     1
4.598000e+06     1
2.700000e+07     1
9.270000e+05     1
8.400000e+06     1
3.000000e+09     1
1.403400e+06     1
5.040000e+06     1
1.470000e+07     1
3.560000e+07     1
5.460000e+05     1
4.000000e+08     1
1.607600e+07     1
2.500000e+04     1
3.937000e+06     1
2.900000e+06     1
Name: Amount, dtype: int64

In [96]:
# checking for '-' symbol within the columns
df3_to_check_colomns = ['Company_Brand','HeadQuarter', 'Sector', 'What_it_does','Stage','Amount']
for col in df3_to_check_colomns:
    dash_symbols = df3[col].astype(str).str.contains('—').any()
    print(f"{col}: {dash_symbols}")

Company_Brand: False
HeadQuarter: False
Sector: False
What_it_does: False
Stage: False
Amount: False

In [97]:
# checking for '$' symbol within the columns
df3_to_check_colomns = ['Company_Brand','HeadQuarter', 'Sector', 'What_it_does','Stage','Amount']

for col in df3_to_check_colomns:
    dash_symbols = df3[col].astype(str).str.contains('$').any()
    print(f"{col}: {dash_symbols}")

Company_Brand: True
HeadQuarter: True
Sector: True
What_it_does: True
Stage: True
Amount: True

# Converting one currency to the other

In [98]:
# Cleaning the Amounts column
df3['Amount'] = df3['Amount'].apply(str)
df3['Amount'].replace(",", "", inplace = True, regex=True)
df3['Amount'].replace("$", "", inplace = True, regex=True)
df3['Company_Brand'].replace("$", "", inplace = True, regex=True)
df3['HeadQuarter'].replace("$", "", inplace = True, regex=True)
df3['Sector'].replace("$", "", inplace = True, regex=True)
df3['What_it_does'].replace("$", "", inplace = True, regex=True)
df3['Stage'].replace("$", "", inplace = True, regex=True)

In [99]:
df3['Amount'] = df3['Amount'].astype(float) #converting the values in the "Amount" column of DataFrame df3 to the float data type.

In [100]:
df3["Amount"]

0       2.000000e+05
1       1.000000e+05
2                NaN
3       4.000000e+05
4       3.400000e+05
5       6.000000e+05
6       6.000000e+05
7                NaN
8       4.500000e+07
9       1.000000e+06
10      2.000000e+06
11               NaN
12               NaN
13      1.200000e+06
14      6.000000e+05
15      6.600000e+08
16      1.200000e+05
17      7.500000e+06
18               NaN
19      1.000000e+06
20               NaN
21      5.000000e+06
22      1.000000e+06
23      5.000000e+05
24      3.000000e+06
25      1.000000e+07
26      1.450000e+08
27      1.000000e+08
28               NaN
29               NaN
30      2.100000e+07
31      4.000000e+06
32      2.000000e+07
33      1.000000e+06
34      5.600000e+05
35               NaN
36      4.000000e+05
37      2.750000e+05
38      2.000000e+07
39      1.000000e+06
40               NaN
41      4.500000e+06
42      5.000000e+06
43      1.500000e+07
44               NaN
45      3.900000e+08
46      7.000000e+06
47               NaN
48      5.100000e+06
49      5.000000e+05
50      7.000000e+08
51      2.300000e+06
52               NaN
53               NaN
54      7.000000e+05
55      5.000000e+05
56      7.000000e+06
57      1.000000e+05
58      1.000000e+06
59      1.900000e+07
60      3.000000e+06
61               NaN
62               NaN
63               NaN
64               NaN
65               NaN
66      4.000000e+05
67      1.000000e+06
68               NaN
69               NaN
70      9.000000e+06
71      2.100000e+07
72               NaN
73      4.000000e+07
74               NaN
75      1.200000e+06
76      7.500000e+05
77      1.500000e+06
78      5.000000e+05
79      7.800000e+06
80      2.000000e+07
81      5.000000e+07
82      4.000000e+06
83      5.600000e+05
84      8.000000e+07
85      3.000000e+07
86      1.700000e+06
87      6.000000e+05
88      6.000000e+05
89      3.000000e+06
90               NaN
91      2.500000e+06
92      1.000000e+06
93      4.000000e+04
94      5.000000e+05
95      3.300000e+07
96               NaN
97               NaN
98      1.500000e+06
99      3.500000e+07
100     3.000000e+06
101     3.000000e+05
102     2.500000e+07
103     3.500000e+06
104     2.000000e+08
105              NaN
106              NaN
107     7.000000e+06
108     2.000000e+05
109     3.000000e+06
110              NaN
111     3.000000e+05
112     6.000000e+06
113     1.000000e+06
114              NaN
115              NaN
116              NaN
117     1.300000e+06
118     4.100000e+06
119     1.000000e+06
120              NaN
121     5.750000e+05
122     1.000000e+06
123              NaN
124     2.000000e+08
125     6.000000e+06
126     2.500000e+07
127     8.000000e+05
128     3.000000e+05
129     6.000000e+05
130     1.000000e+06
131     3.000000e+06
132              NaN
133     3.000000e+07
134     1.000000e+06
135     5.000000e+06
136     2.800000e+07
137              NaN
138              NaN
139     1.000000e+05
140     1.800000e+07
141     3.200000e+06
142              NaN
143              NaN
144     1.000000e+08
146     5.000000e+06
147     3.000000e+05
148              NaN
149              NaN
150     8.000000e+07
151     1.000000e+07
152     1.500000e+07
153     8.000000e+05
154     1.000000e+08
155              NaN
156     1.000000e+08
157     5.000000e+05
158     2.000000e+06
159     4.000000e+05
160     2.000000e+06
161     9.000000e+05
162     2.500000e+05
163              NaN
164     3.200000e+06
165     1.000000e+07
166              NaN
167     3.500000e+07
168     2.000000e+06
169     4.700000e+06
170              NaN
171              NaN
172     1.500000e+06
173              NaN
174     3.000000e+06
175     2.000000e+06
176     7.500000e+07
177     1.000000e+06
178     1.200000e+06
179     1.000000e+06
180              NaN
181     2.000000e+06
182              NaN
183     8.000000e+05
184     1.000000e+05
185              NaN
186     8.000000e+06
187     1.000000e+06
188     3.000000e+05
189     1.000000e+06
190     1.000000e+06
191     1.000000e+06
192     6.000000e+06
193              NaN
194              NaN
195     1.210000e+08
196     4.500000e+06
197     5.000000e+06
198     5.500000e+07
199     3.500000e+06
200     3.000000e+06
201     2.000000e+05
202     3.300000e+06
203              NaN
204              NaN
206     1.100000e+07
207     2.000000e+06
208     5.000000e+06
209     5.000000e+06
210              NaN
211     1.600000e+07
212     1.100000e+07
213              NaN
214              NaN
215     2.000000e+06
216     5.000000e+05
217     4.000000e+06
218     5.000000e+06
219     1.000000e+07
220     6.000000e+05
221     1.500000e+07
222     7.500000e+06
223     4.500000e+06
224     5.000000e+06
225     1.800000e+07
226     2.000000e+06
227     5.400000e+06
228              NaN
229     1.500000e+08
230     5.400000e+06
231     2.000000e+05
232     3.000000e+06
233     2.000000e+06
234     4.000000e+06
235              NaN
236     4.000000e+05
237     2.500000e+06
238     1.500000e+06
239     7.500000e+06
240     4.200000e+06
241     4.000000e+06
242     2.000000e+05
243     5.000000e+05
244              NaN
245     2.200000e+07
246              NaN
247     5.200000e+07
248     6.000000e+06
249     2.000000e+06
250     5.000000e+05
251              NaN
252     1.100000e+06
253     1.000000e+05
254     9.000000e+05
255     3.000000e+06
256              NaN
257              NaN
258              NaN
259     7.000000e+06
260     1.180000e+08
261     1.500000e+07
262     2.300000e+06
263              NaN
264     4.500000e+06
265              NaN
266     3.000000e+06
267     1.000000e+08
268     3.000000e+07
269     5.000000e+06
270     4.200000e+06
271     4.000000e+06
272     6.000000e+05
273     2.500000e+07
274     1.100000e+07
275     1.700000e+06
276     1.600000e+06
277     1.850000e+07
278     6.000000e+06
279     5.500000e+07
280     7.000000e+10
281     2.000000e+06
282     3.000000e+05
283     1.500000e+06
284     5.000000e+06
285     1.000000e+06
286              NaN
287     5.000000e+05
288              NaN
289              NaN
290     2.000000e+06
291              NaN
292              NaN
293     1.000000e+06
294     6.000000e+06
295     3.000000e+06
296     3.000000e+07
297     1.000000e+06
298              NaN
299     1.900000e+07
300     2.500000e+07
301     3.000000e+05
302     8.000000e+08
303     4.000000e+08
304     5.000000e+05
305     1.500000e+05
306     1.760000e+08
307     1.500000e+07
308     1.500000e+07
309     2.500000e+07
310     1.100000e+07
311     1.000000e+06
312     6.000000e+07
313     4.700000e+05
314              NaN
315     2.400000e+05
316              NaN
317     3.000000e+09
318     7.500000e+05
319     1.000000e+07
320     7.400000e+07
321     1.600000e+07
322     6.200000e+07
323     1.000000e+06
324     2.000000e+07
325     2.100000e+06
326     5.000000e+08
327     1.250000e+07
328     2.200000e+09
329     1.000000e+07
330     5.060000e+06
331              NaN
332              NaN
333              NaN
334     2.250000e+08
335     7.500000e+05
336     4.000000e+07
337     1.000000e+07
338     1.600000e+06
339     5.000000e+07
340     2.470000e+07
341     7.700000e+06
342     8.000000e+05
343     1.300000e+06
344     1.500000e+08
345     1.906733e+07
346     1.000000e+08
347              NaN
348     6.200000e+07
349              NaN
350     5.100000e+07
351     1.000000e+06
352     1.150000e+05
353     5.400000e+04
354     2.000000e+04
355              NaN
356     9.000000e+06
357     3.000000e+06
358     2.000000e+06
359     8.031460e+05
360     2.380000e+05
361     3.000000e+05
363              NaN
364     1.022000e+07
365     3.000000e+05
366     1.020000e+06
367     1.000000e+08
368              NaN
369              NaN
370              NaN
371              NaN
372     2.000000e+05
373     5.000000e+06
374     3.000000e+06
375     1.000000e+07
376     3.000000e+06
377              NaN
378     2.000000e+06
379     3.000000e+06
380     1.500000e+06
381              NaN
382     2.000000e+07
383              NaN
384     1.200000e+07
385     1.340000e+07
386     2.000000e+06
387     1.000000e+06
388     1.300000e+06
389     2.000000e+05
390     1.700000e+08
391     1.100000e+06
392     2.900000e+06
393     2.000000e+06
394     5.430000e+05
395              NaN
396     9.000000e+07
397     1.300000e+06
398     3.000000e+07
399              NaN
400     3.400000e+06
401     6.000000e+05
402     2.300000e+07
403     4.000000e+07
404     1.500000e+06
405     8.090000e+06
406     1.030000e+06
407     5.040000e+06
408     8.000000e+05
409     1.500000e+06
410     3.600000e+05
411              NaN
412     8.000000e+06
413     1.400000e+06
414     1.000000e+07
415     2.000000e+06
416     1.000000e+05
417     1.000000e+07
418     6.500000e+05
419     1.200000e+07
420     5.400000e+07
421     5.000000e+06
422     3.500000e+07
423     4.250000e+07
424     2.800000e+07
425     1.137000e+07
426     7.500000e+06
427     8.000000e+06
428     3.250000e+05
429     2.800000e+07
430     8.000000e+06
431     9.000000e+06
432     4.100000e+05
433     1.800000e+07
434     5.000000e+06
435     9.000000e+05
436     4.500000e+05
437     2.000000e+06
438     5.000000e+05
439     8.000000e+06
440     1.000000e+06
441     6.820000e+05
442     7.000000e+06
443     5.060000e+06
444     4.050000e+06
445     1.050000e+06
446     8.000000e+05
447     7.000000e+06
448              NaN
449     5.000000e+07
450     1.000000e+06
451     7.500000e+05
452     3.000000e+07
453     1.050000e+06
454     1.000000e+06
455     4.000000e+05
456     4.000000e+06
457     2.500000e+07
458     1.080000e+06
459     9.000000e+06
460     4.300000e+06
461     1.400000e+06
462              NaN
463     6.800000e+06
464     2.110000e+06
465              NaN
466     7.640000e+05
467     6.030000e+05
468     4.090000e+05
469     2.920000e+05
470     2.860000e+05
471     1.360000e+05
472              NaN
473     5.460000e+05
474     8.870000e+05
475     4.300000e+04
476     4.090000e+04
477     4.090000e+04
478              NaN
479              NaN
480              NaN
481              NaN
482              NaN
483     7.000000e+06
484     2.200000e+06
485     2.000000e+06
486     3.400000e+05
487     5.660000e+06
488     2.000000e+06
489              NaN
490     3.500000e+05
491     1.100000e+05
492     4.300000e+06
493              NaN
494     1.220000e+08
495     1.163500e+07
496              NaN
497     2.800000e+06
498              NaN
499     5.000000e+06
500     1.000000e+06
501              NaN
502     2.800000e+07
503     1.100000e+07
504     2.300000e+06
505              NaN
506     5.000000e+06
507              NaN
508     1.065000e+06
509     2.000000e+06
510              NaN
511              NaN
512     1.000000e+07
513     2.500000e+06
514     5.000000e+06
515     6.690000e+05
516              NaN
517     1.607600e+07
518     6.496000e+05
519              NaN
520     1.000000e+06
521     2.000000e+06
522     1.000000e+06
523     1.000000e+06
524     6.700000e+06
525              NaN
526     5.000000e+06
527     2.000000e+06
528     2.200000e+05
529              NaN
530     1.300000e+06
531     3.000000e+05
532     2.665000e+05
533     2.500000e+06
534     2.879000e+06
535     7.000000e+05
536              NaN
537              NaN
538     2.650000e+07
539     8.000000e+06
540     2.000000e+06
541     1.000000e+06
542     3.510000e+05
543              NaN
544              NaN
545     2.000000e+05
546              NaN
547     5.000000e+05
548              NaN
549     4.676100e+07
550     1.750000e+05
551     3.000000e+06
552              NaN
553              NaN
554     1.500000e+07
555     1.700000e+06
556              NaN
557     2.100000e+07
558              NaN
559     1.124100e+07
560     8.040000e+05
561     2.500000e+06
562              NaN
563     1.000000e+07
564     1.340000e+06
565     4.670000e+05
566     1.330000e+05
567              NaN
568     1.000000e+08
569     7.000000e+06
570     3.823000e+06
571     1.000000e+06
572     9.340000e+05
573     5.000000e+05
574     2.930000e+05
575              NaN
576              NaN
577              NaN
578     1.980000e+05
579     9.270000e+05
580     4.000000e+06
581     9.710000e+05
582     3.060000e+06
583     1.862000e+06
584     2.320000e+05
585              NaN
586     2.888000e+06
587     1.328000e+06
588     4.000000e+07
589              NaN
590              NaN
591     1.200000e+06
592              NaN
593     1.550000e+07
594     5.600000e+07
595     2.250000e+06
596              NaN
597     1.675300e+07
598     3.700000e+06
599     1.470000e+06
600     1.000000e+06
601     5.300000e+05
602     5.000000e+05
603              NaN
604     2.670000e+05
605     3.344000e+06
606     6.000000e+05
607     1.000000e+06
608     7.200000e+06
609     2.100000e+07
610     6.500000e+05
611              NaN
612     1.100000e+06
613     1.700000e+06
614              NaN
615              NaN
616              NaN
617     2.743000e+06
618              NaN
619     6.082000e+06
620     1.500000e+06
621     6.609000e+06
622     5.000000e+06
623     2.770000e+07
624              NaN
625     5.940000e+06
626     3.964000e+06
627     5.500000e+06
628     1.970000e+05
629              NaN
630     1.000000e+07
631     4.327000e+06
632     2.500000e+07
633     2.000000e+06
634     4.590000e+05
635              NaN
636              NaN
637     3.937000e+06
638              NaN
639     1.313500e+06
640              NaN
641     2.298000e+05
642              NaN
643     1.500000e+05
644     1.137000e+07
645     5.305000e+06
646              NaN
647     1.800000e+07
648     1.500000e+08
649              NaN
650     5.500000e+06
651              NaN
652     2.640000e+05
653     1.000000e+06
654              NaN
655     6.000000e+06
656     3.300000e+06
657     4.000000e+06
658     1.750000e+06
659     1.000000e+06
660     1.000000e+06
661              NaN
662     3.000000e+06
663     5.967000e+06
664     2.980000e+06
665              NaN
666     3.230000e+05
667     1.326000e+06
668              NaN
669              NaN
670     5.000000e+05
671     5.000000e+06
672     2.000000e+06
673     2.700000e+07
674     5.200000e+06
675     5.500000e+07
676              NaN
677              NaN
678              NaN
679     1.000000e+06
680              NaN
681     2.500000e+06
682              NaN
683     2.530000e+06
684              NaN
685              NaN
686              NaN
687     3.400000e+05
688     7.920000e+05
689     1.000000e+06
690              NaN
691              NaN
692     6.000000e+07
693     1.136300e+07
694     1.000000e+05
695     1.715000e+06
696     3.290000e+05
697              NaN
698     5.271000e+06
699     6.500000e+05
700              NaN
701              NaN
702     8.700000e+06
703     3.226000e+06
704              NaN
705     5.900000e+06
706     4.400000e+07
707     3.879000e+06
708              NaN
709     1.000000e+06
710     1.300000e+07
711              NaN
712     8.800000e+06
713     9.500000e+06
714     1.000000e+06
715              NaN
716              NaN
717     2.000000e+06
718     1.000000e+07
719              NaN
720     5.100000e+06
721     9.200000e+05
722     1.500000e+07
723              NaN
724              NaN
725     1.700000e+06
726              NaN
727              NaN
728     3.560000e+07
729     9.400000e+06
730     7.900000e+05
731     4.800000e+05
732     2.500000e+05
733     1.600000e+05
734              NaN
735              NaN
736              NaN
737     4.000000e+05
738     8.200000e+06
739     1.550000e+07
740              NaN
741     4.257000e+06
742     1.410000e+06
743              NaN
744              NaN
745     1.500000e+06
746     5.000000e+05
747     2.100000e+06
748     4.000000e+06
749     2.000000e+06
750              NaN
751     2.000000e+07
752              NaN
753     3.498000e+05
754     7.860000e+05
755     2.004000e+06
756     6.800000e+06
757     5.000000e+06
758     1.230000e+08
759     2.480000e+05
760              NaN
761     1.200000e+07
762     7.500000e+06
763              NaN
764     4.500000e+06
765              NaN
766     1.500000e+05
767              NaN
768     2.400000e+07
769     3.000000e+07
770     4.000000e+06
771     1.500000e+07
772     1.300000e+07
773              NaN
774     2.000000e+06
775              NaN
776              NaN
777     2.000000e+07
778     4.000000e+05
779     2.000000e+05
780     1.425900e+07
781     4.000000e+06
782              NaN
783              NaN
784     2.450000e+07
785     5.000000e+07
786     3.800000e+06
787     1.837000e+07
788     6.852500e+07
789     4.800000e+06
790     6.000000e+07
791     2.000000e+06
792     1.250000e+07
793     1.834000e+06
794              NaN
795     8.000000e+06
796     1.200000e+07
797     7.500000e+06
798     2.385000e+07
799     4.300000e+07
800     7.000000e+06
801     5.000000e+06
802     8.000000e+05
803     2.160000e+07
804              NaN
805     3.500000e+06
806     6.000000e+06
807     1.000000e+07
808     1.500000e+05
809     5.000000e+05
810     4.000000e+06
811     5.500000e+07
812     4.598000e+06
813     1.313700e+07
814              NaN
815              NaN
816     3.000000e+06
817     1.150000e+08
818              NaN
819     2.000000e+05
820              NaN
821     4.000000e+05
822     3.900000e+06
823              NaN
824              NaN
825              NaN
826     3.000000e+06
827     6.700000e+05
828     1.600000e+06
829     1.000000e+05
830     1.000000e+06
831     1.500000e+06
832     2.500000e+06
833     1.100000e+06
834              NaN
835     8.500000e+06
836     5.000000e+07
837     3.148000e+06
838     2.600000e+06
839              NaN
840     7.000000e+06
841     3.000000e+06
842     3.900000e+06
843              NaN
844     1.100000e+06
845              NaN
846              NaN
847     1.000000e+06
848     6.000000e+06
849     4.700000e+06
850     5.000000e+05
851     2.000000e+06
852     3.000000e+06
853     1.000000e+06
854              NaN
855              NaN
856              NaN
857              NaN
858              NaN
859     4.049500e+06
860     1.500000e+06
861     8.000000e+06
862     6.000000e+06
863     5.500000e+06
864              NaN
865     1.050000e+07
866              NaN
867     4.000000e+06
868     5.000000e+05
869     6.500000e+06
870     1.000000e+06
871     5.000000e+06
872     3.000000e+07
873              NaN
874     4.370000e+07
875              NaN
876     2.300000e+07
877     2.000000e+07
878     3.000000e+06
879     1.600000e+07
880              NaN
881     1.500000e+06
882              NaN
883     1.380000e+07
884     1.500000e+06
885     3.069000e+05
886     3.000000e+07
887     2.000000e+07
888     7.500000e+07
889     2.500000e+06
890     4.200000e+05
891     3.000000e+05
892              NaN
893     1.200000e+06
894     1.100000e+06
895     6.273000e+05
896     1.130000e+08
897     3.200000e+07
898     1.100000e+08
899     5.500000e+06
900     1.100000e+07
901     3.400000e+05
902     6.000000e+05
903     1.397000e+06
904     3.000000e+06
905     1.600000e+07
906     1.900000e+07
907     2.500000e+05
908     4.485000e+05
909              NaN
910     8.000000e+06
911     7.975700e+06
912              NaN
913              NaN
914              NaN
915     3.300000e+05
916     3.500000e+06
917              NaN
918     5.000000e+06
919     5.600000e+06
920     2.400000e+07
921     1.402000e+06
922     5.500000e+06
923     5.000000e+07
924     5.200000e+06
925     2.200000e+06
926     1.500000e+06
927     1.000000e+06
928     2.500000e+07
929     2.500000e+06
930     2.150000e+07
931     2.000000e+06
932              NaN
933     4.000000e+07
934     2.960000e+08
935     2.000000e+08
936     3.200000e+07
937     6.000000e+06
938     3.500000e+06
939     3.000000e+07
940     2.500000e+05
941     2.000000e+04
942              NaN
943     8.000000e+06
944     5.500000e+06
945     1.000000e+06
946     4.900000e+06
947              NaN
948     2.500000e+06
949     3.500000e+06
950     1.402400e+06
951     1.261830e+07
952     1.400000e+06
953     1.000000e+07
954              NaN

In [101]:
df3 = df3.drop(['column10','Founded','Founders','Investor'], axis=1) #dropping specific columns from the DataFrame

In [102]:
df3['Funding Year'] = 2020 # Assign 2020 to the 'Funding Year' column

In [103]:
new_column_names = {'Company_Brand': 'Company', 'What_it_does': 'About', 'HeadQuarter': 'Location'} # Renaming columns
df3 = df3.rename(columns=new_column_names)

In [104]:
df3.head()

,Company,Location,Sector,About,Amount,Stage,Funding Year
0,Aqgromalin,Chennai,AgriTech,Cultivating Ideas for Profit,200000.0,None,2020
1,Krayonnz,Bengaluru,EdTech,An academy-guardian-scholar centric ecosystem ...,100000.0,Pre-seed,2020
2,PadCare Labs,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,NaN,Pre-seed,2020
3,NCOME,Delhi,Escrow,Escrow-as-a-service platform,400000.0,None,2020
4,Gramophone,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,340000.0,None,2020

#### 2021 Data

In [105]:
df4.head() #showing the first five rows

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [106]:
df4.shape #understanding the size of your DataFrame

(1209, 9)

In [107]:
df4.columns #retrieving the column names of the DataFrame

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [108]:
df4.info() #providing a summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [109]:
df4.describe(include='object') #providing descriptive statistics for columns of object data type in the DataFrame

,Company_Brand,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
count,1209,1208,1209,1209,1205,1147,1206,781
unique,1033,70,254,1143,1095,937,278,31
top,BharatPe,Bangalore,FinTech,BYJU'S is an educational technology company th...,"Ashneer Grover, Shashvat Nakrani",Inflection Point Ventures,$Undisclosed,Seed
freq,8,426,122,4,7,24,73,246

In [110]:
df4.isnull().sum() # looking for missing values in dataFrame

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

#### Handling Duplicated Data

In [111]:
#checking for duplicate values in each column of the DataFrame df4
columns_to_check4 = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage']

for column4 in columns_to_check4:
    has_duplicates4 = df4[column4].duplicated().any()
    print(f'{column4}: {has_duplicates4}')

Company_Brand: True
Founded: True
HeadQuarter: True
Sector: True
What_it_does: True
Founders: True
Investor: True
Amount: True
Stage: True

In [112]:
#removing any rows that have the same values in all the specified columns.
df4.drop_duplicates(subset=['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage'], inplace=True)

#### Handling Categorical Data

In [113]:
df4['HeadQuarter'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

In [114]:
# From obersavtion, there is use of official and unofficial names of certain cities.
# The incorrect names need to be rectified for correct analysis, eg A city with more than one name.
df4['HeadQuarter'] = df4['HeadQuarter'].replace (['Bangalore','Bangalore City','Belgaum'], 'Bengaluru')
df4['HeadQuarter'].replace('Gurugram\t#REF!','Gurugram',inplace =True, regex=True)
df4['HeadQuarter'] = df4['HeadQuarter'].str.replace('New Delhi','Delhi')

In [115]:
#checking if the values in the 'HeadQuarter' column match any of the specified values in the list.
df4[df4['HeadQuarter'].isin(['Online Media\t#REF!', 'Pharmaceuticals\t#REF!','Computer Games','Information Technology & Services','Food & Beverages'])]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None
1100,Sochcast,2020.0,Online Media\t#REF!,Sochcast is an Audio experiences company that ...,"CA Harvinderjit Singh Bhatia, Garima Surana, A...","Vinners, Raj Nayak, Amritaanshu Agrawal",$Undisclosed,None,None
1176,Peak,2014.0,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,$75000000,Series C

In [116]:
#assigning specific values to HeadQuarter", "Amount", "Stage in the DataFrame
df4.loc[df4["Company_Brand"] == "FanPlay", ["HeadQuarter", "Amount", "Stage"]] = ["None", "$1200000","None"]
df4.loc[df4["Company_Brand"] == "FanPlay"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
98,FanPlay,2020.0,None,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",$1200000,None

In [117]:
#assigning specific values to HeadQuarter", "Amount", "Stage in the DataFrame
df4.loc[df4["Company_Brand"] == "MasterChow", ["HeadQuarter", "Sector"]] = ["Hauz Khas", "Food & Beverages"]
df4.loc[df4["Company_Brand"] == "MasterChow"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
241,MasterChow,2020.0,Hauz Khas,Food & Beverages,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed

In [118]:
df4.loc[df4["Company_Brand"] == "Fullife Healthcare", ["HeadQuarter","Sector","What_it_does","Investor", "Amount", "Stage"]] = ["None","Pharmaceuticals","Primary Business is Development and Manufactur...","Varun Khanna", "$22000000","Series C"]
df4.loc[df4["Company_Brand"] == "Fullife Healthcare"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
242,Fullife Healthcare,2009.0,None,Pharmaceuticals,Primary Business is Development and Manufactur...,Morgan Stanley Private Equity Asia,Varun Khanna,$22000000,Series C

In [119]:

df4.loc[df4["Company_Brand"] == "Peak", ["HeadQuarter", "Sector"]] = ["Manchester", "Information Technology & Services"]
df4.loc[df4["Company_Brand"] == "Peak"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1176,Peak,2014.0,Manchester,Information Technology & Services,Peak helps the world's smartest companies put ...,Atul Sharma,SoftBank Vision Fund 2,$75000000,Series C

In [120]:

df4.loc[df4["Company_Brand"] == "Sochcast", ["HeadQuarter", "Sector",'What_it_does','Founders','Investor',"Amount"]] = [np.nan, 'Online Media','Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience','CA Harvinderjit Singh Bhatia, Garima Surana','Vinners, Raj Nayak, Amritaanshu Agrawal',"$Undisclosed"]
df4.loc[df4["Company_Brand"] == "Sochcast"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1100,Sochcast,2020.0,NaN,Online Media,Sochcast is an Audio experiences company that ...,"CA Harvinderjit Singh Bhatia, Garima Surana","Vinners, Raj Nayak, Amritaanshu Agrawal",$Undisclosed,None

In [121]:
df4['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'E-commerce',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Food & Beverages', 'Aeorspace', 'Deep Tech',
       'Dating', 'Gaming', 'Robotics', 'Retail', 'Food', 'Oil and Energy',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'HealthCare', 'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Pharmaceuticals',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Social commerce', 'Mobile Games', 'Food Production', 'Podcast',
       'HeathTech', 'Battery', 'Content publishing', 'Water purification',
       'Content commerce', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'Consulting', 'BioTechnology', 'B2B Marketplace',
       'Health care', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'EV startup', 'HR Tech', 'Blockchain startup',
       'Food and Beverages', 'Beverages', 'Manufacturing startup',
       'Cryptocurrency', 'Vehicle repair startup', 'Advisory firm',
       'Legaltech', 'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'SpaceTech', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'IT company', 'Environmental service',
       'Job discovery platform', 'D2C Fashion', 'Heathcare', 'CRM',
       'Software', 'Nutrition', 'D2C startup', 'Innovation management',
       'Community platform', 'Venture capitalist', 'Networking',
       'Commercial Real Estate', 'AR startup', 'Consumer service',
       'Consumer goods', 'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'Tourism', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup', 'Design', 'B2B Travel',
       'Interior Design', 'Product studio', 'Aviation & Aerospace',
       'Staffing & Recruiting'], dtype=object)

In [122]:
df4.loc[df4["Company_Brand"] == "MoEVing", ["Sector",'What_it_does','Founders','Investor','Amount','Stage']] = [
    np.nan,"MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
    'Vikash Mishra, Mragank Jain','Anshuman Maheshwary, Dr Srihari Raju Kalidindi','$5000000','Seed']
df4.loc[df4["Company_Brand"] == "MoEVing"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
257,MoEVing,2021.0,Gurugram,NaN,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",$5000000,Seed

In [123]:
df4["Stage"].unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt', 'None',
       'Bridge', 'Seed+', 'Series F2', 'Series A+', 'Series G',
       'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', '$300000', 'Early seed', 'Series D1', '$6000000',
       '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I'],
      dtype=object)

In [124]:
df4[df4["Stage"]=='$6000000']

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,None,$6000000

In [125]:
df4.loc[df4["Company_Brand"] == "MYRE Capital", ["Amount", "Stage"]] = ["6000000",np.nan]
df4.loc[df4["Company_Brand"] == "MYRE Capital"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,6000000,NaN

In [126]:
df4["Amount"].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       '$1200000', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$52000000', '$3800000', '$17500000', '$42000000', '$2300000',
       '$7000000', '$30000000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$3000000', '$37000000',
       '$370000000', '$700000', '$16000000', '$100000', '$44000000',
       '$770000', '$125000000', '$35000000', '$50000000', '$4900000',
       '$145000000', '$22000000', '$70000000', '$6600000', '$32000000',
       '$24000000', '$725000', '$461000', '$96000000', '$60000000',
       '$500000000', '$266000000', '$4500000', '$325000000', '$6500000',
       '$1600000', '$150000', '$225000', '$85000000', '$235000',
       '$260000', '$2900000', '$53000000', '$1100000', '$86000000',
       '$130000', '$$100,00', '$111000000', '$265000', '$76000000',
       '$100,000,000', '$75,000,000', '$3,800,000', '$12,000,000',
       '$1,600,000', '$260,000', '$1,000,000,000', '$18,000,000',
       '$20,000,000', '$350,000', '$95,000,000', '$4,100,000',
       '$5,200,000', '$8,000,000', '$1,400,000', '$2,600,000', '$900,000',
       '$250,000', '$16,000,000', '$7,000,000', '$11,000,000',
       '$280,000,000', '$50,000,000', '$14,300,000', '$81,000,000',
       '$1,300,000', '$8,200,000', '$70,000,000', '$720,000', '$600000',
       '$9000000', '$1800000', '$330000', '$undisclosed', '$200000000',
       '$36000000', '$67000000', '$10200000', '$220000000', '$108000000',
       '$75000000', '$450000', '$660000000', 'ah! Ventures', '$45000000',
       '$3200000', '$370000', 'Pre-series A',
       'ITO Angel Network, LetsVenture', '$48000000', '$3600000',
       '$11000000', '$192000000', '$65000000', '$1400000', '$1900000',
       '$41000000', '$144000000', '$5200000', '$270000000', '$140000',
       '$250000000', '$320000', '$350000000', '$4800000', '$38000000',
       '$125000', '$26000000', '$64000000', '$620000', '$900000',
       '6000000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', 'Seed', '$750000',
       '$6300000', '$23000000', '$55000000'], dtype=object)

In [127]:
df4[df4['Amount'].isin([ 'Seed','JITO Angel Network, LetsVenture','ITO Angel Network, LetsVenture','Pre-series A','ah! Ventures'])]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
538,Little Leap,2020.0,Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",$1000000,Pre-series A,None
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",1000000\t#REF!,Seed,None

In [128]:
df4.loc[df4["Company_Brand"] == "Little Leap", ["Amount", "Stage", "Investor"]] = [
    "$300000", np.nan, "ah! Ventures"]
df4.loc[df4["Investor"] == "ah! Ventures"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
356,OwO,2020.0,Gurugram,E-commerce,"Shop packaged drinking water, beverages from y...",Hardev Sahu,ah! Ventures,"$200,000",None
538,Little Leap,2020.0,Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,ah! Ventures,$300000,NaN
840,Klassroom,2016.0,Mumbai,EdTech,Klassroom offers a one-of-a-kind LIVE interact...,Alka Javeri,ah! Ventures,"$200,000",Pre-series A
1133,Enercomp,2013.0,Ahmedabad,Information Technology & Services,Enercomp Solutions Pvt Ltd provide drone based...,SURESH SHAHDADPURI,ah! Ventures,$200000,None

In [129]:
df4.loc[df4["Company_Brand"] == "AdmitKard", ["Amount", "Stage", "Investor"]] = [
    "$1000000", "Pre-series A",np.nan]
df4.loc[df4["Company_Brand"] == "AdmitKard"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
545,AdmitKard,2016.0,Noida,EdTech,A tech solution for end to end career advisory...,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",NaN,$1000000,Pre-series A

In [130]:
df4.loc[df4["Company_Brand"] == "Godamwale", ["Amount", "Stage", "Investor"]] = ["$1000000", "Seed",np.nan]
df4.loc[df4["Company_Brand"] == "Godamwale"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",NaN,$1000000,Seed

In [131]:
df4.loc[df4["Company_Brand"] == "BHyve", ["Amount", "Stage"]] = ["$300000",np.nan]
df4.loc[df4["Company_Brand"] == "BHyve"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale",$300000,NaN

In [132]:
df4.loc[df4["Company_Brand"] == "Saarthi Pedagogy", ["Amount", "Stage"]] = ["$1000000",np.nan]
df4.loc[df4["Company_Brand"] == "Saarthi Pedagogy"]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,$1000000,NaN

In [133]:
# Cleaning the Amounts column & # removing the currency symbol in df_2021
df4['Amount'] = df4['Amount'].astype(str).str.replace('[\₹$,]', '', regex=True)
df4['Amount'] = df4['Amount'].str.replace('Undisclosed', '0', regex=True)
df4['Amount'] = df4['Amount'].str.replace('undisclosed', '0', regex=True)
df4['Amount'] = df4['Amount'].str.replace('None', '0', regex=True)
df4['Amount'].replace(",", "", inplace = True, regex=True)
df4['Amount'].replace("—", 0, inplace = True, regex=True)
df4['Amount'].replace("", '0', inplace=True, regex=True)

In [134]:
df4['Amount'] = df4['Amount'].astype(float)
type(df4['Amount'][0])

numpy.float64

In [135]:
df4['Amount'].unique()

array([1.20e+06, 1.20e+08, 3.00e+07, 5.10e+07, 2.00e+06, 1.88e+08,
       2.00e+05, 0.00e+00, 1.00e+06, 3.00e+06, 1.00e+05, 7.00e+05,
       9.00e+06, 4.00e+07, 4.90e+07, 4.00e+05, 3.00e+05, 2.50e+07,
       1.60e+08, 1.50e+05, 1.80e+06, 5.00e+06, 8.50e+05, 5.30e+07,
       5.00e+05, 1.10e+06, 6.00e+06, 8.00e+05, 1.00e+07, 2.10e+07,
       7.50e+06, 2.60e+07, 7.40e+06, 1.50e+06, 6.00e+05, 8.00e+08,
       1.70e+07, 3.50e+06, 1.50e+07, 2.15e+08, 2.50e+06, 3.50e+08,
       5.50e+06, 8.30e+07, 1.10e+08, 5.00e+08, 6.50e+07, 1.50e+11,
       3.00e+08, 2.20e+06, 3.50e+07, 1.40e+08, 4.00e+06, 1.30e+07,
       9.50e+06, 8.00e+06, 1.20e+07, 1.70e+06, 1.50e+08, 1.00e+08,
       2.25e+08, 6.70e+06, 1.30e+06, 2.00e+07, 2.50e+05, 5.20e+07,
       3.80e+06, 1.75e+07, 4.20e+07, 2.30e+06, 7.00e+06, 4.50e+08,
       2.80e+07, 8.50e+06, 3.70e+07, 3.70e+08, 1.60e+07, 4.40e+07,
       7.70e+05, 1.25e+08, 5.00e+07, 4.90e+06, 1.45e+08, 2.20e+07,
       7.00e+07, 6.60e+06, 3.20e+07, 2.40e+07, 7.25e+05, 4.61e+05,
       9.60e+07, 6.00e+07, 2.66e+08, 4.50e+06, 3.25e+08, 6.50e+06,
       1.60e+06, 2.25e+05, 8.50e+07, 2.35e+05, 2.60e+05, 2.90e+06,
       8.60e+07, 1.30e+05, 1.00e+04, 1.11e+08, 2.65e+05, 7.60e+07,
       7.50e+07, 1.00e+09, 1.80e+07, 3.50e+05, 9.50e+07, 4.10e+06,
       5.20e+06, 1.40e+06, 2.60e+06, 9.00e+05, 1.10e+07, 2.80e+08,
       1.43e+07, 8.10e+07, 8.20e+06, 7.20e+05, 3.30e+05, 2.00e+08,
       3.60e+07, 6.70e+07, 1.02e+07, 2.20e+08, 1.08e+08, 4.50e+05,
       6.60e+08, 4.50e+07, 3.20e+06, 3.70e+05, 4.80e+07, 3.60e+06,
       1.92e+08, 1.90e+06, 4.10e+07, 1.44e+08, 2.70e+08, 1.40e+05,
       2.50e+08, 3.20e+05, 4.80e+06, 3.80e+07, 1.25e+05, 6.40e+07,
       6.20e+05, 1.25e+06, 4.00e+08, 2.70e+07, 2.34e+08, 4.60e+08,
       1.35e+07, 5.10e+06, 1.95e+08, 7.30e+06, 6.30e+06, 1.25e+07,
       1.65e+07, 3.40e+05, 4.30e+07, 3.30e+06, 9.20e+07, 1.35e+08,
       1.55e+05, 2.10e+06, 8.40e+08, 2.48e+08, 4.30e+06, 5.70e+05,
       4.70e+06, 2.60e+08, 1.75e+08, 1.90e+07, 8.10e+05, 6.00e+08,
       9.00e+07, 5.70e+06, 6.75e+06, 7.80e+07, 5.40e+06, 1.15e+08,
       2.55e+08, 5.70e+08, 5.50e+05, 2.70e+06, 4.20e+06, 3.10e+07,
       5.40e+05, 1.40e+07, 6.20e+06, 7.50e+05, 2.30e+07, 5.50e+07])

In [136]:
# Dropping the columns that are not important to our analysis

df4.drop(columns=['Founders','Investor','Founded'], inplace=True)

In [137]:
df4.insert(6,"Funding Year", 2021)

In [138]:
df4.rename(columns = {'Company_Brand':'Company',
                        'HeadQuarter':'Location',
                        'What_it_does':'About'},
             inplace = True)

In [139]:
df4.head()

,Company,Location,Sector,About,Amount,Stage,Funding Year
0,Unbox Robotics,Bengaluru,AI startup,Unbox Robotics builds on-demand AI-driven ware...,1200000.0,Pre-series A,2021
1,upGrad,Mumbai,EdTech,UpGrad is an online higher education platform.,120000000.0,None,2021
2,Lead School,Mumbai,EdTech,LEAD School offers technology based school tra...,30000000.0,Series D,2021
3,Bizongo,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,51000000.0,Series C,2021
4,FypMoney,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",2000000.0,Seed,2021